html {
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.7;
}

.slider .indicators{
  bottom: 50px;
  z-index: 30;
}

.btn.white{
	color: black;
}

.btn.small{
	height: 24px;
	line-height: 24px;
	padding: 0px 20px;
}

table.bordered-line > thead > tr, 
table.bordered-line > tbody > tr,
table.bordered-line > tbody > tr > th,
table.bordered-line > tbody > tr > td{
	border: 1px solid #d0d0d0;
}

.column-header{
	background-color: #ddd;
}

.input-field label.has-radio{
	padding-right: 15px;
}

.picker__select--month, .picker__select--year{
	display: inline-block;
	width: auto;
}

.material-icons {
	vertical-align: bottom;
}
.btn:hover,
.btn.active {
	color: #fff;
}

.pagination li {
	padding: 0;
	border-radius: none;
}

.pagination-wrapper .pagination li a {
	display: block;
	border-radius: none;
}