@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: local("Nanum Barun Gothic UltraLight"), local("Nanum Barun Gothic-UltraLight"), local("NanumBarunGothic UltraLight");
  src: url(../fonts/nanumbarungothic/NanumBarunGothicUltraLight.eot);
  src: url(../fonts/nanumbarungothic/NanumBarunGothicUltraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumbarungothic/NanumBarunGothicUltraLight.woff) format("woff"), url(../fonts/nanumbarungothic/NanumBarunGothicUltraLight.ttf) format("truetype");
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: local("Nanum Barun Gothic Light"), local("Nanum Barun Gothic-Light"), local("NanumBarunGothic Light");
  src: url(../fonts/nanumbarungothic/NanumBarunGothicLight.eot);
  src: url(../fonts/nanumbarungothic/NanumBarunGothicLight.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumbarungothic/NanumBarunGothicLight.woff) format("woff"), url(../fonts/nanumbarungothic/NanumBarunGothicLight.ttf) format("truetype");
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local("Nanum Barun Gothic Regular"), local("Nanum Barun Gothic-Regular"), local("NanumBarunGothic Regular");
  src: url(../fonts/nanumbarungothic/NanumBarunGothic.eot);
  src: url(../fonts/nanumbarungothic/NanumBarunGothic.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumbarungothic/NanumBarunGothic.woff) format("woff"), url(../fonts/nanumbarungothic/NanumBarunGothic.ttf) format("truetype");
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local("Nanum Barun Gothic Bold"), local("Nanum Barun Gothic-Bold"), local("NanumBarunGothic Bold");
  src: url(../fonts/nanumbarungothic/NanumBarunGothicBold.eot);
  src: url(../fonts/nanumbarungothic/NanumBarunGothicBold.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumbarungothic/NanumBarunGothicBold.woff) format("woff"), url(../fonts/nanumbarungothic/NanumBarunGothicBold.ttf) format("truetype");
}

/* line 8, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Nanum Barun Gothic', Roboto, sans-serif;
}

strong{
	font-weight: bold;
}

#content-body{
	padding-top: 64px;
}

.margin-top30{
	margin-top: 30px;
}

.margin-bottom30{
	margin-bottom: 30px;
}

/* line 12, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#logo-img {
  height: 56px;
  line-height: 56px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 19, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.margin-top20 {
  margin-top: 20px;
}

/* line 23, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.margin-bottom20 {
  margin-bottom: 20px;
}

@media only screen and (min-width: 601px) {
  /* line 28, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
  #logo-img {
    height: 64px;
    line-height: 64px;
  }
}
/* line 35, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
form .row {
  margin-bottom: 20px;
}

/* line 41, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .row {
  margin-bottom: 0;
}
/* line 46, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul {
  margin: 0;
  padding: 0;
}
/* line 50, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul > li {
  float: left;
}
/* line 52, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul > li > a {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #00838f;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
/* line 59, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul > li > a:hover {
  color: white;
  background-color: #00838f;
}

/* line 69, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
h4.banner-title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
/* line 74, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
h4.banner-title .line {
  position: absolute;
  width: 20%;
  height: 2px;
  right: 0;
  bottom: 0;
}

/* line 83, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
h5.banner-subtitle {
  font-size: 18px;
}

/* line 87, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners {
  margin-bottom: -40px;
}
/* line 90, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners h6 {
  line-height: 130%;
}
/* line 95, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners .right-align h3, #main-banners .right-align h6 {
  display: inline-block;
  text-align: left;
  clear: both;
}
/* line 102, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners h3 span {
  color: #1e88e5;
}

/* line 107, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 111, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section h5, .main-section h6 {
  color: #757575;
}
/* line 115, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .icons {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 119, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .icons > img {
  border-radius: 50%;
}
/* line 123, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .icons h5 {
  color: #1e88e5;
  font-size: 20px;
}
/* line 129, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .section-item {
  margin-bottom: 15px;
}

/* line 134, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper {
  position: relative;
}
/* line 137, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper > img {
  width: 100%;
}
/* line 141, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper > .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: white;
  opacity: .8;
}
/* line 150, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper > .caption > h5 {
  margin: 0;
  color: white;
}

/* line 158, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item {
  background-color: #f3f3f3;
}
/* line 161, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item img {
  width: 100%;
}
/* line 165, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption {
  padding: 20px;
  min-height: 174px;
}
/* line 169, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption .caption-title {
  color: #414141;
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 175, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption .caption-title span {
  font-weight: bold;
  color: #87073c;
}
/* line 181, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption p {
  font-size: 14px;
}

/* line 189, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item {
  position: relative;
  overflow: hidden;
}
/* line 193, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item img {
  width: 100%;
}
/* line 197, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item .caption {
  -webkit-transition: all 0.5s ease;
  height: 164px;
  margin-bottom: -164px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 207, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item .caption h5 {
  font-size: 16px;
  width: 100%;
  line-height: 2rem;
  color: black;
}
/* line 213, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item .caption h5 span {
  color: #87073c;
}
/* line 221, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item:hover .caption, .events .event-item:focus .caption {
  margin-bottom: 0;
}

/* line 228, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#references {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #edeee9;
}

/* line 234, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
div#waiting_for_create_photo {
  position: fixed;
  top: 25%;
  left: 20%;
  width: 60%;
  padding: 30px;
  border: 3px solid #32576e;
  border-radius: 5px;
  background: white;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color: black;
  z-index: 3010;
}

form p.help-block{
	margin: 0;
    margin-bottom: 10px;
}

.center{
	margin: auto;
	text-align: center;
}

.pagination{
	display: inline-block;
}

.delete-form-in-table{
	display: inline-block;
}

#ajaxLoader{
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
}

.padding-area20{
	padding:20px;
}

.blue-box{
	padding: 20px;
	background-color: #557EB5;
	color: white;
	margin-bottom: 10px;
}

table.lined-table{
	border: 1px solid #ddd;
}

table.lined-table thead tr th,
table.lined-table tr th{
	background-color: #f2f2f2;
	text-align: center;
	border: 1px solid #ddd;
}

table.lined-table tbody tr td{
	border: 1px solid #ddd;
	padding-left: 15px;
}

.link-tabs{
    position: relative;
    height: 48px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}

.link-tabs .tab {
	padding: 0;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 15%;
}

.link-tabs .tab a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease;
}