ul.square {
  list-style-type: square;
}

.schedule-calendar .ptech-date {
  cursor: pointer;
}

.schedule-calendar .ptech-date > div {
  width: 22px;
  height: 22px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin: auto;
}

.schedule-calendar .ptech-date.active > div {
  background-color: #3d959e;
  color: white;
  border-radius: 50%;
}

.sub-content-nav.schedule-sub-content-nav {
  background-image: url("../img/schedule/sub-banner.png");
}

#schedule-banner {
  background-image: url("../img/schedule/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 184px;
  text-align: center;
}
#schedule-banner > h3 {
  margin-top: 0;
  padding-top: 34px;
  color: #7957c6;
  font-size: 32px;
  font-weight: bold;
}

#schedule-types {
  border-bottom: 1px solid #7957c6;
}
#schedule-types .link-tabs .tab a {
  background-color: #9e9e9e;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#schedule-types .link-tabs .tab a.active {
  background-color: #7957c6;
}
#schedule-types .link-tabs .tab:first-child > a {
  border-left: none;
}
#schedule-types .link-tabs .tab:last-child > a {
  border-right: none;
}
#schedule-types .link-tabs .indicator {
  display: none;
}

#schedule-search-form {
  margin-top: 20px;
  padding-bottom: 20px;
}
#schedule-search-form .search-title {
  color: #7957c6;
  font-size: 18px;
  font-weight: bold;
}
#schedule-search-form .search-title.has-top-line {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
#schedule-search-form .search-title small {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: normal;
}
#schedule-search-form button.btn.search-btn {
  background-color: #7957c6;
}
#schedule-search-form .dropdown-content li > a, #schedule-search-form .dropdown-content li > span {
  color: #7957c6;
}

#schedule-search-condition a.month-navigator {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: #7957c6;
}
#schedule-search-condition .date-selector {
  margin-top: 10px;
  text-align: center;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
}
#schedule-search-condition .date-selector a {
  color: #7957c6;
}
#schedule-search-condition .has-form {
  margin-bottom: 10px;
}
#schedule-search-condition .dropdown-content li > a, #schedule-search-condition .dropdown-content li > span {
  color: #7957c6;
}
#schedule-search-condition .select-wrapper input.select-dropdown {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}
#schedule-search-condition .select-wrapper span.caret {
  right: 10px;
}
#schedule-search-condition .select-wrapper.no-line-select input.select-dropdown {
  border: none;
}
#schedule-search-condition .month-selector .caret {
  display: none;
}
#schedule-search-condition .search-key {
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}
#schedule-search-condition .search-key:focus {
  border: 1px solid #7957c6;
  box-shadow: none;
}

#schedule-items {
  padding-top: 10px;
  padding-bottom: 10px;
}
#schedule-items .schedule-item {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}
#schedule-items .schedule-item .title {
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  margin-bottom: 20px;
  word-break: keep-all;
}
#schedule-items .schedule-item .info-row {
  font-size: 14px;
}
#schedule-items .schedule-item .info-row .info-label,
#schedule-items .schedule-item .info-row .info-text {
  float: left;
}
#schedule-items .schedule-item .info-row .info-label {
  width: 40px;
  color: #7957c6;
}
#schedule-items .schedule-item .schedule-btns {
  text-align: right;
}
#schedule-items .schedule-item .schedule-btns > a {
  display: inline-block;
  color: white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background-color: #888;
}
#schedule-items .schedule-item .schedule-btns > a.reservation-btn {
  background-color: #7957c6;
}

#schedule-search-condition {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.schedule-table {
  margin-bottom: 30px;
}
.schedule-table thead {
  border-bottom: 1px solid #7957c6;
}
.schedule-table thead > tr > th {
  text-align: center;
  color: #7957c6;
}
.schedule-table tbody > tr > td {
  border-bottom: 1px solid #ddd;
}
.schedule-table tbody > tr > td a {
  color: black;
}
.schedule-table tbody > tr > td a:hover, .schedule-table tbody > tr > td a:focus {
  /* color: #7957c6;
  font-weight: bold; */
}
.schedule-table tbody > tr > td .btn {
  box-shadow: none;
}
.schedule-table tbody > tr > td .btn.detail-btn {
  background-color: white;
  color: #7957c6;
  border: 1px solid #7957c6;
}
.schedule-table tbody > tr > td .btn.reserve-btn {
  background-color: #7957c6;
  color: white;
}
.schedule-table tbody > tr > td span.label {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  width: 80px;
  color: white;
  background-color: #535455;
}
.schedule-table tbody > tr > td span.label.processing {
  background-color: #3d959e;
}
.schedule-table tbody > tr > td span.label.waiting {
  background-color: #fbb42b;
}
.schedule-table tbody > tr > td span.label.processing.complete {
  background-color: #9a1017; 
}

.schedule-title {
  font-size: 18px;
  color: #7957c6;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reservation-process {
  margin-bottom: 5px;
}
.reservation-process .process-wrapper {
  border: 1px solid #7957c6;
}
.reservation-process .process-wrapper .process-title {
  /* border-bottom: 1px solid #7957c6; */
  color: #7957c6;
  padding: 10px 20px;
}

.reservation-process.active .process-title {
  color: white;
  background-color: #7957c6;
}

.reservation-process.active .process-wrapper .process-title .down-icon {
  display: none;
}

.reservation-process.active .process-wrapper .process-title .up-icon {  
  display: inline-block;
}

.reservation-process .process-wrapper .process-title .down-icon {
  display: inline-block;
}

.reservation-process .process-wrapper .process-title .up-icon {
  display: none;
}

.reservation-process .process-wrapper .process-contents .caution{position:absolute;top:55px;left:35px;font-size:11px;font-weight:bold;color:#212121}


.reservation-process .process-wrapper .process-contents.program-choice{
	padding: 20px;
}

.reservation-process .process-wrapper .process-contents .movie-program-row{
	margin: 10px;
	padding: 10px;
}

.reservation-process .process-wrapper .process-contents .movie-process-members{
	padding-left: 20px;
	padding-right: 20px;
}

.reservation-process .process-wrapper .process-contents .movie-program-row:hover,
.reservation-process .process-wrapper .process-contents .movie-program-row:focus,
.reservation-process .process-wrapper .process-contents .movie-program-row.active{
	background-color: #f2f2f2;
	cursor: pointer;
}

#reservation-warning-wrapper{
	background: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reservation-process .reservation-status-infos {
  padding: 10px 20px;
}
.reservation-process .reservation-status-infos > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #7957c6;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}
.reservation-process .reservation-status-infos > span.available {
  background-color: #67c2cc;
}
.reservation-process .reservation-status-infos > span.waited {
  background-color: #f4ba05;
}
.reservation-process [type="checkbox"]:checked + label:before {
  border-right: 2px solid #7957c6;
  border-bottom: 2px solid #7957c6;
}

#program-calendar-wrapper .ptech-calendar .calendar-nav{
  background: #3b4d62;
  color: white;
}
#program-calendar-wrapper .calendar-nav {
  background-color: white;
}
#program-calendar-wrapper .calendar-nav .nav-title {
  font-size: 20px;
}
#program-calendar-wrapper .calendar-nav .nav-title a {
  font-family: roboto;
  color: white;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
}

#program-calendar-wrapper .calendar-nav .ptech-date {
  font-size: 18px;
}
#program-calendar-wrapper .ptech-week .ptech-date {
  font-size: 16px;
}

#program-calendar-wrapper .ptech-week .ptech-date.sunday{
  color: #f37600;
}

#program-calendar-wrapper .ptech-week .ptech-date.saturday{
  color: #3c649e;
}

#program-calendar-wrapper .ptech-week .ptech-date > div {
  margin: auto;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}
#program-calendar-wrapper .ptech-week .ptech-date.available > div {
  background-color: #67c2cc;
  color: white;
}
#program-calendar-wrapper .ptech-week .ptech-date.waited > div {
  background-color: #f4ba05;
}
#program-calendar-wrapper .ptech-week .ptech-date.available > div:hover {
  cursor: pointer;
}
#program-calendar-wrapper .ptech-week .ptech-date.available.selected > div {
  background-color: #7957c6;
}

.reservation-receipe-wrapper{
	padding: 20px;
	border: 1px solid #ddd;
	background-image: url("../img/main_a/logo_kr.png");
	background-repeat: no-repeat;
	background-position: top 20px right 20px;
	background-size: 150px;
	margin-bottom: 30px;
}

.reservation-receipe-wrapper .receipe-header{
	
}

.nav.payment-tabs {
  margin-top: 20px;
}

@media only screen and (max-width: 768px){
  .mobile-search-form select.form-control.year-selector,
  .mobile-search-form select.form-control.month-selector{
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }
}