.search-forms-in-mypage{
	margin-top: 20px;
	margin-bottom: 20px;
}

.my-reservation-tab .label{
	display: inline-block;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.my-reservation-tab a{
	color: #3d6812;
}

#refund-modal .modal-header,
#receipe-modal .modal-header{
	background-color: #3d959e;
	color: white;
}

#refund-modal .modal-header .close,
#receipe-modal .modal-header .close{
	color: white;
	opacity: 1;
}