@mixin board-show-variant($parent, $color, $hover-color) {
	#{$parent} .board-show-wrapper {
		.board-body {
			border-top: 1px solid $color;
			border-bottom: 1px solid $color;
			.header-item-wrapper {
				border-bottom: 1px solid $light-gray-color;
				.header-item {
					.header {
						color: $color;
					}
					.value .material-icons {
						color: $color;
					}
				}
			}
			
		}
		.board-footer {
			border-top : 1px solid $light-gray-color;
			border-bottom : 1px solid $light-gray-color; 
		}
		.next-prev-board-wrapper {
			border-top: 1px solid $light-gray-color;
			border-bottom: 1px solid $light-gray-color;
			>.board {
				>.header {
					color: $color;
				}
				>.title {
		            color: $light-gray-color; 
		            a {
		                color: #000;
		                &:hover,
		                &:focus {
		                	color: $hover-color;
		                }
		            }
		        }
			}
		}
		.board-list-btn-wrapper {
			.btn {
				background-color: $color;
				border-color: $color;
				&:focus,
				&:hover {
					background-color: $hover-color;
					border-color: $hover-color;
				}
				&.btn-reverse {
					background-color: #fff;
					color: $color;
					&:focus,
					&:hover {
						background-color: $hover-color;
						color: #fff;
					}	
				}
			}
		}
	}
}

$board-show-class-names: '.board-show-teal', '.board-show-purple', '.board-show-blue', '.board-show-green', '.board-show-orange';

@each $board-show-class-name in $board-show-class-names {
	$i: index($board-show-class-names, $board-show-class-name);
	
	@include board-show-variant($board-show-class-name, nth($active-colors, $i), nth($hover-colors, $i));	
}