
.bordered-div {
	padding: 10px;
}


@mixin bordered-div-variant($parent, $color) {
	.bordered-div#{$parent} {
		border-top: 1px solid $color;
		border-bottom: 1px solid $color;
	}
}


$bordered-div-class-names: '.bordered-teal', '.bordered-purple', '.bordered-blue', '.bordered-green', '.bordered-orange';

@each $bordered-div-class-name in $bordered-div-class-names {
	$i: index($bordered-div-class-names, $bordered-div-class-name);
	
	@include bordered-div-variant($bordered-div-class-name, nth($active-colors, $i));
		
}
