@mixin button-variant($parent, $active-color, $color, $hover-color ) {
	.btn#{$parent} {
		background-color: $active-color;
		border: 1px solid $active-color;
		border-radius: 0;
		color: white;
		
		&:hover{
			background-color: $hover-color;
			border: 1px solid $hover-color;
		} 
	}  
}

@mixin button-reverse-variant($parent, $active-color, $color, $hover-color ) {
	.btn.reverse#{$parent} {
		border-color: $active-color;
		border: 1px solid $active-color;
		border-radius: 0;
		color: $active-color;
		background-color: white;
		
		&:hover{
			background-color: $hover-color;
			border: 1px solid $color;
			color: white;
		} 
	}  
}

$btn-class-names: '.btn-teal', '.btn-purple', '.btn-blue', '.btn-green', '.btn-orange';

@each $btn-class-name in $btn-class-names {
	$i: index($btn-class-names, $btn-class-name);
	
	@include button-variant($btn-class-name, nth($active-colors, $i), nth($colors, $i), nth($hover-colors, $i));
	@include button-reverse-variant($btn-class-name, nth($active-colors, $i), nth($colors, $i), nth($hover-colors, $i));	
}

