.circle-bg {
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 20px;
    height: 20px;
    padding: 2px 6px;
    background-color: $teal-color;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}


@mixin circle-bg-variant($parent, $color) {
	.circle-bg#{$parent} {
		background-color: $color;
	}
}

$circle-bg-class-names: '.circle-bg-teal', '.circle-bg-purple', '.circle-bg-blue', '.circle-bg-green', '.circle-bg-orange';
@each $circle-bg-class-name in $circle-bg-class-names{
	$i: index($circle-bg-class-names, $circle-bg-class-name);
	@include circle-bg-variant($circle-bg-class-name, nth($active-colors, $i));
}