.dropdown {
	&.hall-select {
		.dropdown-toggle {
			position: relative;
			background-color: white;
			width: 265px;
		    padding: 8px 20px;
		    line-height: 20px;
		    height: 36px;
		    vertical-align: middle;
		    .fa {
		    	right: 20px;
		    	font-size: 2em;
		    }
		}
		ul.dropdown-menu {
			right:0;
			padding: 0;
			margin: 0;
			max-height: 360px;
			overflow-y: scroll;
			li {
				min-height: 42px; 
				a {
					font-size: 13px;
					padding: 10px 15px;
					color: black;
					&.active,
					&:focus {
						color: white;
						background-color: white;
					}
					&:hover {
						color: white;
						background-color: white;
					}
					
				}
				&.optgroup {
					border-top: 1px solid $light-gray-color;					
					span {
						display: block;
						padding: 10px;
						font-size: 14px;
						color: $dark-gray-color;
					}
				}
			}
		}
	}
	
}

@mixin hall-select-variant($parent, $active-color, $hover-color, $dark-color) {
	.dropdown {
		&#{$parent}.hall-select {
			.dropdown-toggle {
				background-color: $dark-color;
				
			}
			ul.dropdown-menu {
				li { 
					a {
						
						color: $active-color;
						&.active,
						&:focus {
							color: white;
							background-color: $active-color;
						}
						&:hover {
							color: white;
							background-color: $hover-color;
						}
						
					}
					&.optgroup {
						border-top: 1px solid $light-gray-color;					
						span {
							color: $dark-gray-color;
						}
					}
				}
			}
		}
		
	}
}

$hallselect-class-names: '.hallselect-teal', '.hallselect-purple', '.hallselect-blue', '.hallselect-green', '.hallselect-orange';

@each $hallselect-class-name in $hallselect-class-names {
	$i: index($hallselect-class-names, $hallselect-class-name);
	
	@include hall-select-variant($hallselect-class-name, nth($active-colors,$i), nth($hover-colors,$i), nth($dark-colors,$i));
}