ul, ol{
	padding-left: 20px;
	
	&.side-menu-bar{
		padding-left: 0;
	}
}

ul,ol{
	&.non-padding {
		padding-left: 0;
	}	
}

ul.ptech-ul{
	padding-left: 20px;
	font-weight: normal;
	
	> li {
	    padding-left: 0.8em;
	    text-indent: -0.8em;
	    
	    &.strong{
	    	font-weight: bold;
	    }
	}
}

ul.item-margin-bottom {
	> li {
		margin-bottom: 20px;
	}
	
}

ul.no-margin {
	margin: 0;
}

ul.dash-list {
	> li:before {
	    content: "-";
	}
}

ul.non-bullet{
	list-style: none;
	
	> li:before{
		content: "";
	}	
}

ul.text-bold {
	> li {
		font-weight: bold;
		> ul > li {
			font-weight: normal;
		}
	}
}

ul.floated{
	> li{
		float: left;
	}
}

ul.arrow-list,
ul.circle-list {
	margin: 0;
	
	>li {
		> ul {
			padding-left: 20px;
			list-style: disc;
			
			> li {
			
			}
			&.non-bullet {
				list-style: none;
			}
		}
		
		> ol {
			padding-left: 20px;
		}
	}
}

ul.circle-list{
	list-style-image: url('../../img/list_icons/circle_teal.png');
}

ul.arrow-list{
	list-style-image: url('../../img/list_icons/arrow_teal.png');	
}

@mixin list-color-variant($parent, $color) {
	ul.circle-list.#{$parent} {
		list-style-image: url('../../img/list_icons/circle_#{$parent}.png');
	}
	
	ul.arrow-list.#{$parent} {
		list-style-image: url('../../img/list_icons/arrow_#{$parent}.png');
	}
	
	ul.text-color.#{$parent}{
		> li {
			color: $color;
			> ul > li {
				color: initial;
			}
		}
	}
}

@each $color-name in $color-names{
	$i: index($color-names, $color-name);
	@include list-color-variant($color-name, nth($active-colors, $i));
}

@each $gray-color-name in $gray-color-names{
	$i: index($gray-color-names, $gray-color-name);	
	@include list-color-variant($gray-color-name, nth($gray-colors, $i));
}

