@mixin scroll-spy-variant($parent, $bg-image-url, $active-color, $hover-color, $color, $dark-color, $light-color) {
	.sub-content-nav {
		&#{$parent} {
			.navbar-detailed {
				.sub-category-wrapper {
					background-color: $hover-color;
					.sub-category {
						&:hover {
							a {
								background-color: $active-color;
							}
						}
						&.active {
							a {
								background-color: $dark-color;
							}
						}						
					}
				}
				.sub-child-wrapper {
					.sub-child {
						&.active {
							a {
								font-weight: bold;
								color: $dark-color;	
							}						
						}
						
					}
				}
			}
			.navbar-default {
				background-image: $bg-image-url;
				.nav.navbar-nav {
					li.active a.item {
						background-color: $active-color;
					}
					a.item:hover,
					a.item:focus {
						background-color: $hover-color;
					}
					li.dropdown {
						a.dropdown-toggle {
							background-color: $dark-color;
							&.active,
							&:hover,
							&:focus {
								background-color: $dark-color;
							}
						}
						ul.dropdown-menu {
							padding: 0;
							li {
								min-height: 42px; 
								a {
									font-size: 13px;
									padding: 10px 15px;
									color: $dark-color;
									&.active,
									&:focus {
										color: white;
										background-color: $active-color;
									}
									&:hover {
										color: white;
										background-color: $hover-color;
									}
									
								}
							}
						}
					}
				}
			}
		}
	}	
	
}

$scrollspy-class-names: '.scrollspy-teal', '.scrollspy-purple', '.scrollspy-blue', '.scrollspy-green', '.scrollspy-orange';
$scrollspy-bg-path-names: '../img/scrollspy_bg/scrollspy_bg_teal.png', '../img/scrollspy_bg/scrollspy_bg_purple.png', '../img/scrollspy_bg/scrollspy_bg_blue.png', '../img/scrollspy_bg/scrollspy_bg_green.png', '../img/scrollspy_bg/scrollspy_bg_orange.png';

@each $scrollspy-class-name in $scrollspy-class-names {
	$i: index($scrollspy-class-names, $scrollspy-class-name);
	
	@include scroll-spy-variant($scrollspy-class-name, url( #{nth($scrollspy-bg-path-names, $i)} ), nth($active-colors,$i), nth($hover-colors,$i), nth($colors,$i), nth($dark-colors,$i), nth($light-colors,$i));
} 
