@mixin sub-banner-tab-variant($parent, $color, $hover-color, $light-color) {
	.sub-banner-tab-wrapper#{$parent} {
		border-bottom: 1px solid $color;
		ul.nav.nav-tabs {
			li {
				a.item {
					
					&:hover {
						background-color: $hover-color;
						border: 1px solid $hover-color;
						color: white;
					}		
				}
				&.active {
					a.item {
						background-color: $color;
						border: 1px solid $color;
						color: white;					
					}
				}
			}
		}
	}
	  
}

$sub-banner-tab-class-names: '.sub-banner-tab-teal', '.sub-banner-tab-purple', '.sub-banner-tab-blue', '.sub-banner-tab-green', '.sub-banner-tab-orange';

@each $sub-banner-tab-class-name in $sub-banner-tab-class-names {
	$i: index($sub-banner-tab-class-names, $sub-banner-tab-class-name);
	
	@include sub-banner-tab-variant($sub-banner-tab-class-name, nth($active-colors, $i), nth($hover-colors, $i), nth($light-colors, $i));	
}