@mixin table-variant($parent, $color, $hover-color, $light-color) {
	table#{$parent}:not(.table-bordered),
	#{$parent} table:not(.table-bordered) {
		> thead > tr > th,
		> thead > tr > td {
			background-color: #fff;
			color: $color;
			border-bottom: 1px solid $color;
			
		} 
		> tbody {
			border-bottom: 1px solid $color;
			>tr{
				&.fixed-on-top {
					background-color: $super-light-gray-color;
					>td {
						.fa-flag {
							color: $color;
						}
					}
				}
				>td {
					a:not(.btn) {
						color: $black;
						font-weight: bold;
						&:hover,
						&:focus {
							color: $color;
						}
					}
					.fa-file-text {
						color: $color;
					}
				}
			} 
			
		}
	}
	#{$parent} .pagination-wrapper {
		ul.pagination {
			li {
				a {
					border: none;
					color: $dark-gray-color;
				}
				&.active a{
					background-color: $color;
					border-radius: 50%;
					color: #fff;
					
				}
				&:hover:not(.active) a,
				&:focus:not(.active) a {
					background-color: $super-light-gray-color;
					color: $dark-gray-color;
				}
			}
		}
	}
	  
}

$table-class-names: '.table-teal', '.table-purple', '.table-blue', '.table-green', '.table-orange';

@each $table-class-name in $table-class-names {
	$i: index($table-class-names, $table-class-name);
	
	@include table-variant($table-class-name, nth($active-colors, $i), nth($hover-colors, $i), nth($light-colors, $i));	
}