$title-headers: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';
$title-header-sizes: 40px, 32px, 28px, 24px, 18px, 14px;
$title-header-line-heights: 48px, 36px, 32px, 30px, 24px, 18px;

@mixin doc-title($parent, $size, $line-height) {
	#{$parent}.doc-title{
		font-size: $size;
		line-height: $line-height;
		font-weight: bold;
	} 
}

@each $title-header in $title-headers{
	$i: index($title-headers, $title-header);
	
	@include doc-title($title-header, nth($title-header-sizes, $i), nth($title-header-line-heights, $i));
}

h3.page-title{
	font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    
	> div.top-line {
		width: 220px;
		border-top: 1px solid $primary-color;
		padding-top: 10px;
	}
}

@mixin page-title($parent, $color) {
	h3.page-title#{$parent} {
		color: $color;
	
		> div.top-line {
			border-top: 1px solid $color;
		}
	}
}

@each $color-class-name in $color-class-names {
	$i: index($color-class-names, $color-class-name);
	
	@include page-title($color-class-name, nth($active-colors, $i));
}