.gallery-boards {
    .board-gallery-item{
	    margin-bottom: 30px;
	    .board-title{
		    color: black;
		    text-align: center;
		    background-color: #f2f2f2;
		    padding: 5px 20px;
		    overflow: hidden;
			white-space: nowrap; 
			text-overflow: ellipsis;
			.gallary-sub-title {
				font-size: 12px;
				color: $dark-gray-color;
			}
		}
		img{
		    display: block;
		    height: 195px;
		    width: 100%;
		}
	}	
}


.pagination-wrapper{
	text-align: center;
	table {
	   td,th
	    {
	        text-align: center;
	    }
	}
	
	.pagination {
		li {
			a {
				border: none;
				border-radius: 50%;
				color: $primary-color;
				margin: 0 1px;
				padding: 0;
				width: 32px;
				height: 32px;
				line-height: 32px;
				vertical-align: middle;
			}
			&.active a,
			&:hover a,
			&:focus a{
				background-color: $primary-color;
				color: #fff;
			}
		}
	}
}

.list-board-wrapper{
	border: none;
	.search-condition-wrapper {
		text-align: right;
		margin-bottom: 20px;
		.search-condition-box {
			select.form-control {
				display: inline-block;
				width: 130px;
			}
			.search-text {
				position: relative;
				display: inline-block;
				width: 230px;
				input.form-control {
					display: inline-block;
					width: 230px;
					&::-ms-clear { /* hide the clear(X) button on IE */
						width: 0;
						height: 0;
					}
					
				}
				.fa.fa-search {
					cursor: pointer;
					position: absolute;
				    top: 50%;
				    right: 15px;
				    transform: translate(0,-7px);
				    color: $primary-color;
				}
			}
			
		}
	}
	table {
		> thead > tr > th,
		> thead > tr > td,
		> tbody > tr > th,
		> tbody > tr > td {
			text-align: center;
		}
		> tbody > tr {
			&.reply {
				>.title {
					padding-left: 30px;
				}
			}
			> td  { 
				>.file-icon {
					font-size: 19px;
					vertical-align: middle;
				}
				&.title {
					max-width: 0%;
					width: 50%;
				    overflow: hidden;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				}
			}
		}
	}	
}  

.board-show-wrapper {
	.board-body{
		.header-item-wrapper {
			padding: 10px 20px;
			.header-item {
				.value {
					.material-icons {
						vertical-align: top;
						font-size: 20px;
					}
					a.file-link {
						margin-right: 10px;
						color: $black;
					}
				}
				&.title {
					.header,
					.value {
						font-weight: bold;
						font-size: 16px;
					}
					.value {
						word-wrap: break-word;
						.sub-value {
							color: $dark-gray-color;
							font-size: 14px;
						}
					}
				}
			}		
		}
		
		.contents{
			min-height: 300px;
			padding: 20px;
			table {
				width: 100%;
			}
			img {
				max-width: 100%;
			}
			span{
				display: inline;
			}
		}
		.row{
			&:last-child{
				border-bottom: 0;
			}
		}
	}
	.board-list-btn-wrapper{
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: right;
		a{
			width: 150px;
		}
		.edit-btns {
			text-align: left;
			margin-bottom: 10px;
			a {
				width: 100px;
			}
		}
	}

	.board-footer{
		padding: 10px 0;
	}
	
	.next-prev-board-wrapper {
	    .board {
	        padding: 10px;
	        .header,
	        .title {
	            display: inline-block;
	        }
	        .header {
	            width: 100px;
	            font-weight: bold;
	            .fa {
	                font-weight: bold;
	                font-size: 20px;
	        		padding-right: 10px;
	            }
	        }
	    }
	}
}
