html body {
	color: $super-dark-gray-color;
	line-height: 1.7;
}

.navbar {
	margin-bottom: 0;
}


ul {
	list-style-type: none;
	padding: 0;	
}

.navbar-default .navbar-brand {
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.nav-tabs > li > a{
	border-radius: 0;
}

.btn{
	color: white;
	border-radius: 0;
	padding: 6px 25px;
	
	&.btn-primary{
		background-color: $primary-color;
		border-color:  $primary-color;
		&:hover,
		&:focus {
			background-color: $teal-hover-color;
			border-color: $teal-hover-color;
		}
		&.active {
			background-color: $teal-active-color;
			border-color: $teal-active-color;
		}
	}
	
	&.btn-white{
		color: $primary-color;
		border: 1px solid $primary-color;
		background-color: white;
	}
	
	&.btn-purple{
		color: white;
		background-color: $purple-color;
	}
}

.btn.wide-btn{
	padding-left: 50px;
	padding-right: 50px;
}

.btn.btn-disabled{
	background-color: #ddd;
	color: black;
	box-shadow: none;
	
	&:hover{
		background-color: #ddd;
		color: black;
		box-shadow: none;
		cursor: auto;		
	}
}

.form-control{
	border-radius: 0;
	-webkit-appearance: none;
}

#multi-forms{
	.form-control{
		width: auto;
		display: inline-block;
	}
}

.form-control{
	&:focus{
		border: 1px solid $primary-color;
    	box-shadow: none;
	}
	
	&.purple{
		&:focus{
			border: 1px solid $purple-color;
	    	box-shadow: none;
		}
	}
}

form.purple{
	.form-control{
		&:focus{
			border: 1px solid $purple-color;
	    	box-shadow: none;
		}
	}
}

select.form-control{
	background: url('../img/caret-down.png') no-repeat center right 5px #ffffff;
	padding-right: 30px;
}

table.table{
	thead > tr > th,
	thead > tr > td,
	tbody > tr > th,
	tbody > tr > td{
	    vertical-align: middle;
	    
		&.left{
			text-align: left;
		}
	}
}
.table-responsive {
	@media only screen and (max-width: 767px) {
		border: none;
	}
}

pre{
	border: none;
	border-radius: 0;
	font-size: 14px;
}

p {
	margin: 10px 0;
	
}

.panel-group {
	@each $color-class-name in $color-class-names{
		$i: index($color-class-names, $color-class-name);
		
		&#{$color-class-name} {
		
			.panel-default > .panel-heading {
				padding: 0;
				
				a{
					padding: 15px 25px;
					background-color: nth($active-colors, $i);
					color: white;
					display: block;
					font-weight: bold;
					
					&.collapsed{
						color: $black;
						background-color: $super-light-gray-color;
						&:hover,
						&:focus {
							background-color: nth($colors, $i);
							color: white;
						}	
					}
				}
			}	
		}
	}
}

.navbar-default .navbar-header .navbar-toggle {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $primary-color;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	@media only screen and (max-width: 768px) {
		border-bottom: 1px solid $primary-color;
	}
}

.panel-heading{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.panel-group .panel{
	border-radius: 0;
}

.panel-group .panel + .panel{
	margin-top: 0
}

.dropdown-menu{
	border-top: 0;
	border-radius: 0;
}

.modal .modal-content .modal-body{
	.container{
		width: 100%;
	}
}