table.career-schedule-form-table{
	thead{
		border-bottom: none;
		
		> tr > th{
			text-align: center;
			border: 1px solid #ddd;
		}
	}
	
	tbody > tr > td{
		border: 1px solid #ddd;
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		
		input,
		p{
			margin-bottom: 0;
		}
	}
}

table.career-table{
	margin-bottom: 30px;
	
	thead > tr > th,
	tbody > tr > td{
		text-align: center;
		border: 1px solid #ddd;
	}
	
	tbody > tr > td{
		&.unavailable{
			background-color: #f2f2f2;
			color: #bbb;
		}
	}
}