#communication-body {

	table {
		>tbody > tr > td.non-active-title {
			color: $med-gray-color;
		}
	}
	
	.visitors {
		font-size: 15px;
		line-height: 1.5;
		.header {
			font-size: 18px;
			margin-bottom: 10px;
			.emphasis {
				color: $orange-active-color;
				font-weight: bold;
			}
		}
		
	}
	
	.process {
		color: #fff;
		background-color: $orange-active-color;
		padding: 0 25px;
		margin: 5px;
		text-align: center;
		border-radius: 10px;
		height: 85px;
		position: relative;
		display: table;
		width: 100%;
		&.ex-color {
			background-color: $orange-color;
		}
		.fa {
			position: absolute;
		    right: 10px;
		    font-size: 24px;
		    vertical-align: middle;
		    top: 40%;
		}
		.text {
			display: table-cell;
			vertical-align: middle;
		}
		.sub-text {
			vertical-align: middle;
			font-size: 12px;
		}
	}

}

#faq-nav { 
	margin-bottom: 30px;
	
		border-top: 1px solid $med-gray-color;
		border-bottom: 1px solid $med-gray-color;
		padding: 10px 0;
		.item {
			display: block;
			text-align: center;
			padding: 5px; 
			color: #000;
			&.active {
				background: $orange-active-color;
				color: #fff;
			}
			&:hover,
			&:focus {
				background-color: $super-light-gray-color;
			}
		}
	
}

#library-tabs{
	margin-top: 23px;
}

#library-tabs.tabs .tab a{
	background-color: #52BAC5;
	color: white;
}

#library-tabs.tabs .tab a.active{
	background-color: #39848A;
}

#library-tabs .indicator{
	display: none !important;
}

.social-item-wrapper {
		text-align: left;
	@media only screen and (max-width: 768px ) {
		text-align: center;
	}
}

.social-item{
	display: inline-block;
	margin-bottom: 40px;
	.logo{
		border: 2px solid #4CAB24;
		border-radius: 50%;
		width: 170px;
		height: 170px;
		float: left;
		text-align: center;
		position: relative;
		display: inline-block;
		margin-right:20px;
		img{
			max-height: 100%;  
		    max-width: 100%; 
		    width: auto;
		    height: auto;
		    position: absolute;  
		    top: 0;  
		    bottom: 0;  
		    left: 0;  
		    right: 0;  
		    margin: auto;
		}
	}
	.content-wrapper{
		height: 170px;
	    display: inline-block;
	    padding-top: 25px;
	    text-align: left;
		>.content {
			vertical-align:middle;
			
			.link{
				color: $med-gray-color;
				font-size: 13px;
			}
			.btn{
				background: #4CAB24;
				box-shadow: none;
				width: 200px;
				margin-top: 20px;
			}
		}
		@media only screen and (max-width: 992px) {
			
			>.content{
				h5 {
					line-height: 21px;
				}
				.link {
					display: none;
				}
				.btn {
					width: 150px;
					margin-top: 10px;
				}
			} 
		}
	}
	&.naver {
		.logo {
			border-color: #4CAB24; 
		}
		.content-wrapper .content .btn {
			background-color: #4CAB24;
			&:hover,
			&:focus {
				background-color: #318F14;
				color: #fff;
			}
		}
	}
	&.daum {
		.logo {
			border-color: #F37066; 
		}
		.content-wrapper .content .btn {
			background-color: #F37066;
			&:hover,
			&:focus {
				background-color: #ED5047;
				color: #fff;
			}
		}
	}
	&.facebook {
		.logo {
			border-color: #385696; 
		}
		.content-wrapper .content .btn {
			background-color: #385696;
			&:hover,
			&:focus {
				background-color: #233A77;
				color: #fff;
			}
		}
	}
	&.twitter {
		.logo {
			border-color: #33CCFF; 
		}
		.content-wrapper .content .btn {
			background-color: #33CCFF;
			&:hover,
			&:focus {
				background-color: #1EB7FF;
				color: #fff;
			}
		}
	}
	
}

.nav-tabs-contents .item {
	display: none;
	&.active {
		display: block;
	}
}

.policy-wrapper {
	.content {
		border: 1px solid $light-gray-color;
		padding: 20px;
		table {
			> tbody > tr > th {
				width: 15%;
			}
		}
	}
}

.practical-will-wrapper {
    border: 1px solid #e0e0e0;
    padding: 20px;
    .item {
    	.em {
    		color: $orange-active-color;
    		font-size: 17px;
    	}
    }
    
	
}