/* line 8, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
body {
  
}

a,
a:hover,
a:focus {
	color: $primary-color;
	text-decoration: none;	
}

strong{
	font-weight: bold;
}

.left{
	text-align: left;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.right{
	float: right;
}

div,
ul > li{
	word-break: keep-all;
}

.scalable-img{
	overflow: hidden;
	
	img{
		transition: all .4s;
		
		&:hover{
			transform: scale(1.1);
		}	
	}
}

.pointer:hover{
	cursor: pointer;
}

#content-body{
	padding-top: 108px; 
	
	@media only screen and (min-width: 769px) and (max-width: 992px) {
		padding-top: 108px;
	}
	@media only screen and (max-width: 768px) {
		padding-top: 100px;
	}	
}


$margin-values: 10 15 20 25 30;

@each $margin-value in $margin-values{
	.margin-top#{$margin-value} {
		margin-top: #{$margin-value}px;
	}
	
	.margin-bottom#{$margin-value} {
		margin-bottom: #{$margin-value}px;
	}
	
	.margin-left#{$margin-value} {
		margin-left: #{$margin-value}px;
	}
	
	.margin-right#{$margin-value} {
		margin-right: #{$margin-value}px;
	}
}  

/* line 12, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#logo-img {
  height: 56px;
  line-height: 56px;
  padding-top: 5px;
  padding-bottom: 5px;
}


@media only screen and (min-width: 601px) {
  /* line 28, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
  #logo-img {
    height: 64px;
    line-height: 64px;
  }
}
/* line 35, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
form .row {
  
}

/* line 41, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .row {
  margin-bottom: 0;
}
/* line 46, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul {
  margin: 0;
  padding: 0;
}
/* line 50, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul > li {
  float: left;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}
/* line 52, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul > li > a {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #00838f;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
/* line 59, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#nav-top .nav-top-wrapper ul > li > a:hover {
  color: white;
  background-color: #00838f;
}

/* line 69, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
h4.banner-title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
/* line 74, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
h4.banner-title .line {
  position: absolute;
  width: 20%;
  height: 2px;
  right: 0;
  bottom: 0;
}

/* line 83, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
h5.banner-subtitle {
  font-size: 18px;
}

/* line 87, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners {
  margin-bottom: -40px;
}
/* line 90, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners h6 {
  line-height: 130%;
}
/* line 95, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners .right-align h3, #main-banners .right-align h6 {
  display: inline-block;
  text-align: left;
  clear: both;
}
/* line 102, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#main-banners h3 span {
  color: #1e88e5;
}

/* line 107, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 111, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section h5, .main-section h6 {
  color: #757575;
}
/* line 115, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .icons {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 119, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .icons > img {
  border-radius: 50%;
}
/* line 123, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .icons h5 {
  color: #1e88e5;
  font-size: 20px;
}
/* line 129, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.main-section .section-item {
  margin-bottom: 15px;
}

/* line 134, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper {
  position: relative;
}
/* line 137, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper > img {
  width: 100%;
}
/* line 141, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper > .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: white;
  opacity: .8;
}
/* line 150, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.news-img-wrapper > .caption > h5 {
  margin: 0;
  color: white;
}

/* line 158, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item {
  background-color: #f3f3f3;
}
/* line 161, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item img {
  width: 100%;
}
/* line 165, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption {
  padding: 20px;
  min-height: 174px;
}
/* line 169, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption .caption-title {
  color: #414141;
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 175, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption .caption-title span {
  font-weight: bold;
  color: #87073c;
}
/* line 181, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.recommends .recommend-item .caption p {
  font-size: 14px;
}

/* line 189, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item {
  position: relative;
  overflow: hidden;
}
/* line 193, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item img {
  width: 100%;
}
/* line 197, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item .caption {
  -webkit-transition: all 0.5s ease;
  height: 164px;
  margin-bottom: -164px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 207, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item .caption h5 {
  font-size: 16px;
  width: 100%;
  line-height: 2rem;
  color: black;
}
/* line 213, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item .caption h5 span {
  color: #87073c;
}
/* line 221, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
.events .event-item:hover .caption, .events .event-item:focus .caption {
  margin-bottom: 0;
}

/* line 228, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
#references {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #edeee9;
}

/* line 234, /Users/iskim/projects/public_suggestion/sciencecenter/app/assets/stylesheets/application.css.scss */
div#waiting_for_create_photo {
  position: fixed;
  top: 25%;
  left: 20%;
  width: 60%;
  padding: 30px;
  border: 3px solid #32576e;
  border-radius: 5px;
  background: white;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color: black;
  z-index: 3010;
}

form p.help-block{
	margin: 0;
    margin-bottom: 10px;
}

.pagination{
	display: inline-block;
}

.delete-form-in-table{
	display: inline-block;
}

#ajaxLoader{
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
}

.padding-area20{
	padding:20px;
}

.blue-box{
	padding: 20px;
	background-color: #557EB5;
	color: white;
	margin-bottom: 10px;
}

table.lined-table{
	border: 1px solid #ddd;
}

table.lined-table thead tr th,
table.lined-table tr th{
	background-color: #f2f2f2;
	text-align: center;
	border: 1px solid #ddd;
}

table.lined-table tbody tr td{
	border: 1px solid #ddd;
}

.link-tabs{
    position: relative;
    height: 48px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    padding-left: 0;
}

.link-tabs .tab {
	padding: 0;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.link-tabs .tab a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email] {
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

.side-menu-bar{
	li{
		> a{
			display: block;
			color: $primary-color;
			border-bottom: 1px solid #ddd;
			padding: 10px;
			
			&.active,
			&:hover,
			&:focus{
				background-color: $primary-color;
				color: white;
			}
			
			&:hover,
			&:focus{
				opacity: 0.8;	
			}
		}
		
		> ul.nested-side-menu-bar {
			display: none;
			padding-left: 20px;
			padding-right: 20px;
			
			> li > a {
				padding: 5px;
				border-bottom: none;
				color: $black_with_alpha;
				
				&:hover {
					background-color: white;
					color: $primary-color;
				}
			}
		}
		
		&:hover,
		&.active {
			> ul.nested-side-menu-bar {
				display: block;
			}
		}
	}
}

.label{
	padding: 3px 5px;
	background-color: #888;
	color: white;
	
	&.success-label{
		background-color: $primary-color;
	}
	
	&.warning-label{
		background-color: $orange-color;
	}
	
	&.danger-label{
		background-color: $red-black-color;
	}
}

.btn.btn-purple{
	background-color: $purple-color;
	
	&:hover{
		background-color: $purple-hover-color;
	}
}

table.centered-table{
	> thead > tr > th,
	> thead > tr > td,
	> tbody > tr > th,
	> tbody > tr > td{
		text-align: center;
		vertical-align: middle;
		
		&.left{
			text-align: left;
		}
		
		&.right{
			text-align: right;
		}
	}
}

table.table-bordered {
	> thead > tr > th,
	> thead > tr > td {
		background-color: #eeeeee;
		border-bottom: 1px solid #ddd;
		color: #000;
	}
}

.purple-navbar{
	a:hover{
		background-color: $purple-hover-color;
	}
	
	a.active{
		background-color: $purple-color;
	}
}

.page-link.has-arrow{
	border: none;
	color: $primary-color;
}

@media (min-width: 992px){
	.col-md-2-5{
		width: 20%;
		float: left;
	}
}

.alert-msg {
	color: red;
}

.line{
	border-top: 1px solid $light-gray-color;
	
	&.gray{
		border-color: $light-gray-color;
	}
}

#full-image-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 1050;
}

img.materialboxed{
	cursor: zoom-in;
}

img.full-screen-image{
	position: fixed !important;
	z-index: 1100;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	cursor: zoom-out;
}

.btn.btn-wide {
	width: 230px;
	padding: 8px 25px;
}

#admin-nav {
	ul.main-nav {
		>li > a {
			padding: 0px 8px;
			font-size: 0.9rem;	
		}
		
		li.active {
			background-color: #26a69a;
			a {
				color: #fff;
			}
		}			
	}
	
}

.admin-board-content {
	border: 1px solid lightgray;
	padding: 20px;
	img {
		max-width: 100%;
		height: auto;
	}
}

.error-box-wrapper {
	padding-top: 30px;
	.error-box {
		border: 1px solid $light-gray-color;
		padding: 20px;
		.title {
		    padding: 20px;
			color: $blue-active-color;
		    font-size: 30px;
		    font-weight: bold;
		    .fa-exclamation-circle {
		    	color: $blue-color;
		    	font-size: 1.5em;
		    	vertical-align: top;
		    }
		}
		.message {
			padding: 20px;
			color: $dark-gray-color;
			.text {
				margin-bottom: 10px;
			}
			.contact {
				color: $blue-active-color;
				font-size: 15px;
				.fa-phone {
					font-size: 15px;	
				}
			}
		}
		.footer {
			padding: 20px;
			color: #fff;
		    a.link-btn {
		    	color: #fff;
		    	width: 100%;
		    	padding: 10px;
		    	background-color: $blue-color;
		    	cursor: pointer;
		    	display: block;
		    	text-align: center;
		    	.fa {
		    		&.fa-angle-left {
		    			margin-right: 5px;
		    		}
		    		&.fa-angle-right {
		    			margin-left: 5px;
		    		}
		    	}
		    	&.active,
		    	&:focus,
		    	&:hover {
		    		background-color: $blue-hover-color;
		    	}
		    }
		}
	}
}

.admin-form {
	.select-wrapper {
		ul.select-dropdown {
			max-height: 300px;			
		}
	}
}

.bg-primary.bg-green {
	background-color: $green-color;
}