#cyber-body {
	.banner-link a {
	  color: #fff;
	  background-color: $green-active-color;
	  text-align: center;
	  display: inline-block;
	  padding: 8px 40px;
	}
	
	.map-wrapper {
		border: 1px solid #eee;
		margin-bottom: 10px;
	}
	
}
