@CHARSET "UTF-8";

.total-map{
	border: 1px solid #bbb;
}

.display-section{
	border-bottom: 1px solid $light-gray-color;
}

.display-card{
	box-shadow: none;
	
	.card-image {
		overflow: hidden;
		position: relative;
		
		> .overlay {
			background-color: transparent;
			transition: all .4s;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			
			> i {
			    position: absolute;
			    opacity: 0;
			    left: 50%;
			    top: 45%;
			    font-size: 25px;
			    margin-left: -5px;	
				color: white;
			}
		}
		
		> img {
			transition: all .4s;
		}
	}
	
	&:hover {
		.card-image {
			> .overlay {
				background-color: rgba(61, 149, 158, 0.7);
				
				> i {
					opacity: 1;
				}
			}
			
			> img {
				transform: scale(1.1);
			}
		}
	}
	
	.card-image img {
		max-width: 100%;
		height: auto;
	}
	.card-content {
		padding: 0 0 0 0;
		.display-card-title{
			color: $blue-active-color;
			margin: 10px 0;
		}
		.display-card-content{
			color: $super-dark-gray-color;
			font-size: 13px;
			min-height: 113px;
			padding: 0;
			margin-bottom: 10px;
			
			&.live-display {
				min-height: 45px;	
			}
		}
	}
	
	&.green {
		.card-content {
			.display-card-title {
				color: $green-active-color;
			}
		}
		&:hover {
			.card-image {
				> .overlay {
					background-color: rgba(148, 194, 58, 0.7);
				}
			}
		}
	}
	&.story-telling {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		@media only screen and (max-width: 992px) {
			margin-bottom: 30px;
		}	
		.card-content {
			padding: 10px;
			.display-card-title {
				min-height: 46px;
			}
			.display-card-content {
				height: 68px;
				display: -webkit-box;
			   	-webkit-line-clamp: 5;
			   	-webkit-box-orient: vertical;
			   	text-overflow: ellipsis;
			   	overflow: hidden;
			}
		}
	}
	&.program {
		margin-bottom: 30px;
		.card-content {
			.display-card-title {
				font-weight: bold;
			}
			.display-card-content {
				height: auto;
				@media only screen and (min-width: 768px) {
					height: 155px;
				}
			}
			.footer {
				font-weight: bold;
				font-size: 13px;
				.material-icons {
					vertical-align: top;
					font-size: 20px;
				}
			}
		}
	}
}

.out-display{
	text-align: center;
	margin-bottom: 20px;
	
	p {
		text-align: center;
		color: $green-active-color;
		font-weight: bold;
		font-size: 14px;
	}
}

.out-display-item{
	border-radius: 50%;
	border: 3px solid $green-active-color;;
}
 
.astronomy-description{
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-size: 13px;
	span{
		width: 150px;
		padding-left: 10px;
	    display: inline-block;
	    
	    &:before {
	    	width: 5px;
			border-left: 5px solid $teal-active-color;
		}
	}
	.button-wrapper {
		height: 35px;
	}
}


.recommend-course{
	.recommend-course-inner-wrapper {
		padding: 20px 0;
	}
	.recommend-course-left{		
		font-size: 20px;
		line-height: 36px;
		span{
			color: #67C2CC;
		}
		.description {
			font-size: 14px;
		}
	}
	.recommend-course-right {
		.recommend-course-btn-wrapper {
			margin-bottom: 10px;
			.recommend-course-btn {
				margin-right: 2px;
				padding: 10px 0;
				text-align: center;
				color: #fff;
				display: inline-block;
				width: 200px;
				&.course-map {
					background-color: #37A1B6; 
				}
				&.course-download {
					background-color: #74BCC8;	
				}
			}
		}
	}
}
 

.recommend-choose-wrapper {
	margin-top: 20px;
}
   
   
.sland-icons{
	text-align: center;
	.icon{
		background-color: #6AC2CB;
		color: white;
		border-radius: 50%;
		width: 40px;
		font-size: 60px;
	    width: 100px;
	    height: 100px;
	    margin-left: auto;
	    margin-right: auto;
	}
	div{
		margin-top:15px;
		color: #bbb;
		span{
			font-size: 20px;
			font-weight: bold;
			color: #6AC2CB;
		}
	}
}
.sland-icons.odd{
	.icon{
		background-color: #1B9FD5;
		i{
			color:white;
		}
	}	
	div{
		span{
			color: #1B9FD5;
		}
	}
}
#recommend-2hours {
	background-image: url('../img/display/totalDisplay/2hours.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.active {
		background-image: url('../img/display/totalDisplay/2hours_Active.png');	
	}
}

#recommend-4hours {
	background-image: url("../img/display/totalDisplay/4hours.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.active {
		background-image: url("../img/display/totalDisplay/4hours_Active.png");
	}
}

#recommend-1day {
	background-image: url("../img/display/totalDisplay/1day.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.active {
		background-image: url("../img/display/totalDisplay/1day_Active.png");
	}
}


.recommend-choose-detail {
	background-color: #f4f5f6;
	
	.header,
	.sub-header,
	.content {
		padding: 10px;
	}
	.header {
		padding-top: 10px;
		padding-left: 10px;
		width: 25%;
		border-top: 2px solid $green-active-color;
		color: $green-active-color;
		
	}
	.sub-header {
		font-size: 0.8rem;
		color: $dark-gray-color;
		padding: 0 10px;	
	}
	.content {
		height: 140px;
		position: relative;
		
		.recommend-time {
				cursor: pointer;
				height: 120px;	
		}
		.recommend-age-wrapper {
			text-align: center;
			position: absolute;
			top: 30%;
			left: 0;
			right: 0;
					
			.recommend-age  {
				width: 19%;
				height: 70px;
				display: inline-block;
				vertical-align: top;
				.age-box {
					height: 40px;
					margin-bottom: 10px;
					cursor: pointer;
				}
				&.age-level1 .age-box {
					background-color: #d7e0e0;					
				}
				&.age-level2 .age-box {
					background-color: #D8DEDE;	
				}
				&.age-level3 .age-box {
					background-color: #CDD3D3;	
				}
				&.age-level4 .age-box {
					background-color: #B6BCBC;	
				}  
				&.age-level5 .age-box {
					background-color: #AAB4B5;	
				}				
				&.active .age-box {
					background-color: $green-dark-color; 
				}
				
				.age-label {
					color: $dark-gray-color;
					font-size: 11px;
					font-weight: bold;
					text-align: center;
					vertical-align: middle;
					line-height: 12px;
				}
				&.active .age-label {
					color: $green-dark-color;  
				}
			}
		}
		.recommend-age-label-wrapper {
			text-align: center;
		}		
	}
}


.recommend-circle-outer {
	width: 20%;
}

.recommend-show-wrapper {
	margin-top: 10px;
	
	.recommend-title {
		text-align: center;
		color: $teal-active-color;
		margin-top: 10px;
	}
	.recommend-sub-title {
		background-color: $green-color;
		font-size: 14px;
		color: #fff;
		padding-top: 10px;
	    padding-bottom: 10px;
	    margin-top: 10px;
	    text-align: center;
	}
	.recommend-course-detail-wrapper {
		margin-top: 10px;
		border: 2px solid #f4f5f6;
		
		.course-name {
			width: 15%;
			border-top: 2px solid $green-active-color;
			padding-top: 10px;
			padding-left: 10px;
			color: $green-active-color;
		}
		.recommend-course-detail {
			margin: 20px 0;
			.content {
				.recommend-course-dot,
				.title {
					display: inline-block;
				}
				.recommend-course-dot {
					border-radius: 50%;
					background-color: $green-color;
					border: 5px solid #D9DEDE;
					width: 20px;
					height: 20px;  
					vertical-align: top;
					margin-right: 10px;
				}
				.title {
					font-weight: bold;
					a {
						color: #000;
						text-decoration: none;
					}
				}
				.detail {
					margin-left: 35px;
					font-size: 13px;
				}
			}
		}
	}
}


.exhibition-sub-banner {
	background-image: url('../img/display/mainBuilding/basicScience/banner_bg.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 387px;  
	position: relative;
	
	@media only screen and (max-width: 768px) {
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	&.basic-science-hall {
		background-image: url('../img/display/mainBuilding/basicScience/banner_bg.png');
	}
	&.advanced-tech1 {
		background-image: url('../img/display/mainBuilding/advancedTechnology1/banner_bg.png');
	}
	&.advanced-tech2 {
		background-image: url('../img/display/mainBuilding/advancedTechnology2/banner_bg.png');
	}
	&.sciencePark {
		background-image: url('../img/display/mainBuilding/sciencePark/banner_bg.png');
	}
	&.hallOfFame {
		background-image: url('../img/display/frontier/hallOfFame/banner_bg.png');
	}
	&.nobelPrize {
		background-image: url('../img/display/frontier/nobelPrize/banner_bg.png');
	}
	&.infiniteImagination {
		background-image: url('../img/display/frontier/infiniteImagination/banner_bg.png');
	}
	&.kidsMakerStudio {
		background-image: url("../img/display/frontier/kidsMakerStudio/sub_banner_bg02.png");
	}
	&.traditionalSciences {
		background-image: url('../img/display/mainBuilding/traditionalSciences/banner_bg.png');
	}
	&.naturalHistory {
		background-image: url('../img/display/mainBuilding/naturalHistory/banner_bg.png');
	}
	&.plaentarium {
		background-image: url('../img/display/planetarium/planetarium/banner_bg.png');
	}  
	&.observation {
	    background-image: url('../img/display/planetarium/observation/banner_bg.png');
	}
	&.spaceWorld {
	    background-image: url('../img/display/planetarium/spaceWorld/banner_bg.png');
	}
	&.insectarium {
	    background-image: url('../img/display/outdoorEcological/insectarium/banner_bg.png');
	}
	&.ecoPark {
	    background-image: url('../img/display/outdoorEcological/ecoPark/banner_bg.png');
	}
	&.outdoor {
		background-image: url('../img/display/outdoorEcological/outdoor/banner_bg.png');
	}
	&.dinosaur-and-history {
		background-image: url('../img/display/outdoorEcological/dinosaurAndHistory/banner_bg.png');
	}   
	&.planetariumProgram {
	    background-image: url('../img/display/experience/planetariumProgram/banner_bg.png');
	}
	&.recommend-course {
	    background-image: url('../img/display/recommend_course_banner_bg.png');
	}
	&.culture-square {
	    background-image: url('../img/display/culture_square_banner_bg.png');
	}
	
	.banner-content-box {
		height: 193px;
		color: #fff;
		text-align: center;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		
		@media only screen and (max-width: 768px) {
			height: auto;
			position: relative;
		}	
		
		
		.title {
			font-weight: bold;
			font-size: 40px;
		}
		.detail {
			font-size: 16px;
		}
		.banner-button-wrapper {
			margin-top: 30px;
			.banner-button {
				border: 1px solid #fff;
				color: #fff;
				padding: 10px 0;  
				margin: 5px;
				text-align: center;
				width: 250px;
				text-decoration: none;
				display: inline-block;
				.material-icons {
					vertical-align: middle;
					margin-right: 5px;
				}
				&.active,
				&:hover {
					background-color: rgba(117,187,200, 0.7);	
				}
			}
		} 
	}
}

.exhibition-simple {
	margin-bottom: 10px;
	.sub-text {
		color: $teal-active-color;
		padding-top: 5px;
		text-align: center;
		font-weight: bold;
	}
}

.related-photos {
	height: auto;
	padding: 20px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #F3F3F4;
    background-color: #FBFFFF;
    margin: 15px 0;
	.title {
		text-align: center;
		margin-bottom: 10px;
		color: $primary-color;
		.material-icons {
			color: $primary-color;
			vertical-align: bottom;
		}
	}
}
	
.round-corner-image {
	border-radius: 5px;
}

.exhibition .sub-text {
	text-align: center;
}

.display-guide-wrapper {
	margin-top: 10px;
	border-left: 1px solid $light-gray-color;
	border-right: 1px solid $light-gray-color;
	border-bottom: 1px solid $light-gray-color;
	
	.sub-nav {
		border-top: 1px solid $light-gray-color;
		border-bottom: 1px solid $light-gray-color;
		
		.item {
			text-decoration:none;
			color: #979797;	
			text-align: center;
			padding: 10px 0;
			display: block;
			border-bottom: 2px solid transparent;
			
			&.active {
				color: #3B969E;
				border-bottom: 2px solid #3B969E;
			}
		}
	}
	.guide-item {
		display: none;
		padding: 20px;
		&.active {
			display: block;
		}
		.left-side {
			padding: 50px;	
			.logo,
			.detail {
				text-align: center;
			}
		}
		.menu .header {
			margin: 15px;
			padding: 5px;
			border-top: 2px solid #5EBAD1;
			color: #5EBAD1;
		}		
		.menu-item,
		.menu-item-sm  {
			padding: 20px 0;
			.detail .menu-name, 
			.detail .menu-detail,
			.image {
				text-align: center;
			}
			
		}
		.menu-item .detail .menu-detail {
			color: #979797;		
		}
		.menu-item-sm .detail {
			margin-top: 30px;
		}
		table .material-icons {
			vertical-align: bottom;
		}
		
	}
}  

.sub-content-nav {
	.navbar-nav li {
		.dropdown-toggle {
		    width: 160px;
		    height: 54px;
		    line-height: 54px;
		    vertical-align: middle;
		    padding: 0 15px;
		    color: #fff;
		    background-color: black;
		    .fa {
		    	position: absolute;
			    top: 10px;
			    right: 10px;
			    font-size: 30px;
		    }
		    &:hover,
		    &.active,
		    &:focus {
		    	color: #fff;
		    	background-color: black;
		    }
		}
		.dropdown-menu {
			width: 160px;
		}
		
		
	}
}

#display-body {	
	.banner-link a {
		color: #fff;
		text-align: center;
		display: inline-block;
		padding: 8px;
		width: 300px;

	}

	.img-border {
		border: 1px solid #E0E1E2;
	}
	
	.sub-section {
		margin: 30px auto;
		.sub-section-title {
			font-size: 16px;
			font-weight: bold;
		}
		
		.detail {
			margin-left: 28px;
			margin: 0 auto 10px 28px;
		}
		.detail-list-header {
			font-weight: bold;	
		}
		
		.notice {
			color: gray;
		    font-size: 1.4rem;
			margin-left: 28px;
			&.color-red {
				color: #bc0c0c;
			}
		}
		
	}
	.reservation-btn {
		padding: 10px 30px;
		background-color: #5D7B99;
		color: #fff;
		
		&.green {
			background-color: $green-active-color;	
		}
	}
	.download-btn {
		padding: 10px 30px;
		background-color: #02628F;
		color: #fff;
		.material-icons {
			color: #fff;
			vertical-align: bottom;
		}
	}
	
	.sub-header {
		margin-top: 15px;
	}
	.tab-item{
		display:none;
		&.active{
			display:block;
		}
	}
	table {
		thead tr {
			font-weight: bold;
			color: $green-active-color;
			border-bottom: 1px solid $green-active-color;
		}
	}

	.tab-item .convenience-detail {
		margin-top: 10px;
	}

	.convenience-detail {
		.detail-img-box {
			margin: 15px auto;
		}
	}
	.food-detail {
		margin-top: 10px;
	}

}

#display-sub-nav {
	.sub-nav {
		padding-top: 20px;
		.item {
			display: block;
			text-align: center;
			padding: 5px; 
			color: $black;
			border: 1px solid $light-gray-color; 
			&.active{
				background: $dark-gray-color;
				border-color: $dark-gray-color;
				color: #fff;
			}
			&:hover:not(.active) {
				cursor: pointer;
				background-color: $super-light-gray-color;
				border-color: $light-gray-color;
				color: $super-dark-gray-color;
			}
		} 
		&.convenience .item {
			margin-bottom: 15px;
		}
	}
}

.li-inner-wrapper {
	margin-left: 28px;
}


.image-overlay-wrapper {
	.image-item {
	   position: relative;
	   margin-bottom: 10px;
	   .caption {
	       position: absolute;
	       left: 0;
	       right: 0;
	       bottom: 0px;
	       color: #000;
	       background-color: $light-gray-color-alpha;
	       padding: 10px;
	       font-size: 14px;
	       text-align: center;
	   }
	   .overlay {
	       position: absolute;
	       top: 0;
	       left: 0;
	       right: 0;
	       background-color: $purple-active-color-alpha;
	       height: 100%;
	       display: none;
	       color: #fff;
	       padding: 10px;
	       .title,
	       .desc {
	           text-align: center;
	           margin: 10px 0 15px 0;
	       }  
	       .title {
	           font-weight: bold;
	           font-size: 20px;
	       }
	       .desc,
	       .info {
	           font-size: 12px;    
           }
	       .info {
	           margin: 5px auto;
	           padding-left: 30px;
	           .header,
	           .text {
	               display: inline-block;
	           }
	           .header {
	               width: 60px;
	           }
	       }
	   }
       &:hover {
       	.overlay {
       		display: block;
       	}
       }
	}
	&.movie {
		.overlay {
			padding: 30px;
			background-color: rgba(0,0,0,.75);
			.title,
			.desc {
				margin: 20px 0;
			}
			.desc {
				font-size: 14px;
			}
		}
	}
}

#basic-guide-spy {
	.reservation-btn {
		padding: 10px 30px;
		background-color: #5c7b9a;
		color: #fff;
	}	
}


.green-circle-bg {
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 24px;
    height: 24px;
    padding: 3px;
    background-color: $teal-color;
    color: #fff;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
}
.green-square-wrapper {
	width: 65px;
	.green-square-bg {
		border-radius: 3px;
	    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	    padding: 3px;
	    background-color: $teal-color;
	    color: #fff;
	    font-size: 10px;
	    vertical-align: middle;
	    text-align: center;
	    margin-right: 10px;
	}
	
}



.infinite-guide {
	.guide-icon {
		border-radius: 50%;
		width: 70px;
		height: 70px;
		/* @media only screen and (max-width: 992px) {
			width: 110px;
			height: 110px;		
		} */
		.material-icons {
			line-height: 50px;
		    vertical-align: middle;
		    display: block;
		    text-align: center;
		    font-size: 30px;
		    padding-top: 10px;
		    padding-bottom: 10px;  
		    /* @media only screen and (max-width: 992px) {
				line-height: 80px;
				font-size: 50px;
				padding-top: 15px;
				padding-bottom: 15px; 		    
		    }		 */
		}
	}
	.text {
		.header {
			font-weight: bold;
			font-size: 16px;
		}
		.desc {
			color: $med-gray-color;
		}
		.info {
			.title {
				
				font-weight: bold;
			}
			.value {
				color: $med-gray-color;
			}
		}		
	}
	@media only screen and (max-width: 992px) {
		margin-bottom: 20px;
		text-align: center;
		.guide-icon {
			display: inline-block;
		}
		.text {
			.info {
				.title {
					text-align: right;
				}
				.value {
					text-align: left;
				}
			}
			
		}
	}
	&.guide1 {
		.guide-icon {
			color: #fff;
			background-color: #039ed7; 
		}
		.text .header {
			color: #039ed7;
		}
		
	}
	&.guide2 {
		.guide-icon {
			color: #fff;
			background-color: #e82583;
		}		
		.text .header {
			color: #e82583;
		}
		
	}
	&.guide3 {
		.guide-icon {
			color: #fff;
			background-color: #14901d; 
		}
		.text .header {
			color: #14901d;
		}
		
	}
}

#kids-studio-spy {
	.desc-text {
		.label-header {
			font-weight: bold;
		}
		.label-value {
			.numbering {
				font-size: 16px;
				font-weight: lighter;
			}
		}	
	}
}

#open-studio-day-spy {
	.calendar-title {
		font-weight: bold;
		color: $teal-active-color;
	}
	
	table {
		thead tr th,
		thead tr td {
			background-color: $teal-active-color;
			color: #fff;
			width: 14.28%;
		}
		
		tbody tr th,
		tbody tr td {
			color: #1a9fd5;
			min-height: 70px;
			
			.day-no{
				text-align: left;
				color: #666;
				margin-bottom: 15px;
				font-size: 12px;
			}
		}
		
	}
}

.story-telling-wrapper {
	.description {
		margin-bottom: 10px;
	}
}

.story-modal {
	.modal-dialog {
		/* @media only screen and (min-width: 992px ) {
			width: 700px;
		} */
		@media only screen and (max-width: 767px) {
			width: 400px;
			margin: 10px auto;
		}
		.modal-content {
			border: none;
			.modal-header {
				border: none;
				background-image: url("../img/display/story_modal_header_banner.png");
				background-repeat: no-repeat;
	    		background-position: center;
	    		
				button.close, 
				h4.modal-title {
					color: #fff;
				}
			}
			.modal-body {
				
				overflow-x: hidden;
				padding: 0 0 20px 0px;
				position: relative;
				.option-button-wrapper {
					margin-bottom: 10px;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 500;
					.modal-option-btn {
						display: inline-block;
						font-size: 11px;
						color: #fff;
						padding: 7px 15px;
	
						&.print-btn {
							background-color: $med-gray-color;
						}
						&.share-btn {
							background-color: #385696;
						}
						.fa {
							font-size: 20px;
							vertical-align: bottom;
							margin-right: 5px;
						}
					}
				}
				.modal-body-inner-wrapper {
					max-height: 770px;
					overflow-y: auto;	
					overflow-x: hidden;
				}
				
				.story-swipe-menu {
					margin-bottom: 10px;
					@media only screen and (max-width: 991px) {
						margin-top: 40px;
					}
					.menu-title {
						text-align: center;
						font-size: 16px;
						font-weight: bold;
						.menu-swipe-btn {
							.material-icons {
								font-size: 34px;
								color: $teal-active-color;
								vertical-align: middle;
							}
							
						}
					}
				}
				
				.story-body-wrapper {
					.story-header-desc {
						margin-bottom: 20px;
						padding: 0 30px;
					}
					.story {
						margin-bottom: 20px;
						padding: 0 30px;
						.story-image {
							display: inline-block;
							position: relative;
							margin-bottom: 20px;
							img {
								width: 100%;
							}
							.story-label {
								position: absolute;
								background-color: $teal-color;
								color: #fff;
								width: 150px;
								text-align:center;
								padding: 10px 0;
								top:0;
								left:0;
							}
						}
						.story-desc {
							padding-bottom: 10px;
							span:before {
								/* display: block; */
								white-space: pre;
								content: "\a";
							}
						}
					}
				}
			}
		}
	}
	
	#stories-wrapper{
		overflow: hidden;
		
		.story-swipe-item {
			float: left;
		}
	}
}


ul.black-dash-list {
	li:before {
	    content: "-";
	}
	li {
	    padding-left: 0.8em;
	    text-indent: -0.8em;
	}
}

ul.green-arrow-list {
	margin: 0;
	li {
		padding-left: 1.5em;
		text-indent:  -1em;
		.material-icons {
			color: $teal-active-color;  
			vertical-align: bottom;
		}
		> div:not(.table-responsive) {
			margin-left: 13px;
			&.indent {
				margin-left: 30px;
			}
		}
	}
	&.margin-bottom20 {
		margin-bottom: 20px;
	}
}

.detail-list-div {
	.material-icons,
	.content-title {
		color: $teal-active-color;
		display: inline-block;
	}
	.material-icons {
		vertical-align: bottom;
	}
}

#current-equipment-spy {
	&.sland{
		background-color: white;
	}
	background-color: $light-gray-color;
	.sub-banner {
		background-image: url("../img/display/frontier/infiniteImagination/sub_banner_bg03.png");
		background-repeat: no-repeat;
	    background-position: center;
	   	background-color: transparent;
	    width: 100%;
	    color: #fff;
	    .banner-text-wrapper {
	    	padding: 20px;
	    	.banner-header {
	    		font-size: 25px;
	    	}
	    	.banner-btn {
	    		a {
	    			color: #fff;
	    			    padding: 5px 0;
					    border: 1px solid #fff;
					    display: inline-block;
					    width: 250px;
					    text-align: center;
	    		}
	    	}
	    }
	}
	.equipment-card {
		
		height: 200px;
		background-color: #fff;
		margin-bottom: 30px;
		font-size: 13px;
		.equipment-label {
			background-color: $teal-active-color;
			color: #fff;
			padding: 5px 10px;
			font-weight: bold;
		}
		.equipment-img,
		.equipment-desc {
			padding: 10px;
		}
		.software-item {
			padding: 0 10px 5px 10px;
			.item-label {
				font-weight: bold;
			}
			.item-list {
				padding-left: 30px;
			}
		}
		&.sland{
			border: 1px solid #bbb;
			height: 230px;
		}
		&.software,
		&.facility {
			height: 478px;
			@media only screen and (max-width: 992px) {
				height: auto;
			}
		}
		
		&.facility {
			.equipment-img {
				padding-left: 0;
			}
			.equipment-desc {
				.facility-title {
					font-weight: bold;
				}
			}
		}
		@media only screen and (max-width: 992px) {
			height: auto;
		}
	}
	
}


#story-page-wrapper {
	display: none;
	padding-left: 20px;
	padding-right: 20px;
	
	.story-page-header {
		padding-left: 30px;
		h4.story-page-title {
			margin-top: 0;
			color: #fff;
			font-weight: bold;
		}
	}
	#stories-print-wrapper {
		.story-print-item {
			margin-bottom: 20px;
			.stories-title {
				padding-top: 20px;
				margin-left: 30px;
				margin-right: 30px;
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				border-bottom: 2px solid $teal-color;
			}
		
			.story-print-body-wrapper {
				.story {
					margin-top: 20px;
					margin-bottom: 20px;
					padding: 30px;
					page-break-after: always;
					.story-image {
						display: inline-block;
						position: relative;
						margin-bottom: 20px;
					}
					.story-label {
						background-color: $teal-color;
						color: #fff;
						font-weight: bold;
						width: 150px;
						text-align:left;
						border-top: 1px solid $teal-color;
						padding: 5px 0;
					}
					.story-desc {
						padding-bottom: 10px;
						span:before {
							white-space: pre;
							content: "\a";
						}
						
					}
				}
			}
		}
	}
	
}

@page {
	size: 210mm 297mm;
  	margin: 1mm 0mm;
  	
}


@media only print {
	#sub-content-wrapper,
	#display-body,
	#story-more-modal,
	#story-more-modal .modal-content,
	#stories-wrapper,
	#responsibility-wrapper,
	#family-sites,
	#footer {
		display: none;
	}
	.story-modal #stories-wrapper .story-swipe-item{
		float: none;
	}
	
	#story-page-wrapper {
		display: block;
	}
	
	
}

.main-exhibition-wrapper {
	border: 1px solid $light-gray-color;
	padding: 20px;
	.exhibition {
		.description {
			margin-bottom: 15px;
			.title {
				font-size: 1.7rem;
				font-weight: bold;
				color: $teal-active-color;
			}
			.desc {
				font-size: 13px;
				.additional-info {
					display: inline-block;
					float: right;
				}
			}
		}
		.image-wrapper {
			.image {
				img {
					width: 100%;
					height: auto;
				}
				.caption {
					text-align: right;
					font-size: 13px;
				}
			}
		}
	}
	
}

.recommend-arrow-wrapper {
	position: relative;
	height: 50px;
	.left-diagonal-line,
	.right-diagonal-line {
		position: absolute;
		width: 100px;
		height: 80px;
	}
	.left-diagonal-line {
		top: 50%;
		right: 50%;
		transform: translateX(-8.5px) rotate(-60deg);
		border-right: 3px solid $green-color;
	}
	.right-diagonal-line {
		top: 50%;
		left: 50%;
		transform: translateX(8.5px) rotate(60deg);
		border-left: 3px solid $green-color;
	}
	
}

.under-construction-wrapper {
	border: 2px solid $dark-gray-color;
	margin-top: 30px;
	padding: 50px;
	.content {
		.image {
			background-image: url('../img/display/frontier/kidsMakerStudio/under_construction.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 150px;
		}
		.text {
			@media only screen and (max-width: 992px) {
				text-align: center;
			}
			.header {
				font-size: 22px;
				.emphasis {
					font-size: 30px;
					color: $teal-dark-color;
					font-weight: bold;
					text-decoration: underline;
				}
			}
			.value {
				.emphasis {
					color: $teal-hover-color;
				}
			}
		}
	}
	
}