ul.dropdown-menu {
	> li {
		position: relative;
		
		> ul.right-menus {
			display: none;
			position: absolute;
		    left: 160px;
		    top: 0;
		    padding-left: 0;
		    background: white;
		    border: 1px solid #ddd;
		    min-width: 160px;
		}
		
		&:hover {
			> ul.right-menus {
				display: block;
			}
		}
	}	
}