#education-banner{
	height: 584px;
	margin-bottom: 60px;
	background-image: url("../img/education/education_sub_banner_bg.png");
	background-position: center;
	color: white;
	position: relative;
}

#education-banner .education-banner-first{
	padding-top: 120px;
	padding-bottom: 20px;
	font-size: 20px;
}

#education-banner .education-banner-second{
	padding-bottom: 20px;
	font-size: 40px;
	position: relative;
	display: inline-block;
	font-weight: bold;
}

#education-banner .education-banner-second span{
	color: #93BAF2;
}

#education-banner .banner-bottom{
	position: absolute;
	bottom: 0;
	width: 360px;
	height: 180px;
	background-color: rgba(255, 255, 255, .56);
	left: 50%;
	margin-left: -180px;
	border-radius: 360px 360px 0 0;
	text-align: center;
	color: #163b6f;
	padding-top: 60px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

#education-banner .education-banner-second img{
	position: absolute;
	top: -90px;
    right: -90px;
}

#education-banner .education-banner-third{
	font-size: 44px;
}



.education-intro-item{
	text-align: center;
	.edu-intro-img{
		border: 1px solid #ddd;
		border-radius: 10px;
		height: 494px;
		margin-bottom: 30px;
		img{
			border-radius: 10px;
			display: block;
			margin: auto;
		}		
	}
	.edu-title{
		margin-top: 20px;
		margin-bottom: 20px;
		color: #557EB5;
		font-size: 18px;
		font-weight: bold;	
	}
	.edu-desc{
		margin-bottom: 20px;	
	}
	.btn.course-intro-btn{
		background-color: #557EB5;	
		margin-bottom: 30px;
		color: white;
	}
}

#edu-exp-body {
	.program-title{
	color: $blue-active-color;
	font-weight: bold;
	border-top: 1px solid $blue-active-color;
	font-size: 22px;
	padding-top: 15px;
	text-align: center;
	}
	
	table.program-info-table{
		margin-bottom: 30px;
		thead{
			tr > th,
			tr > td{
				&.left{
					text-align: left;
				}
			}
		}
		.blank-row.top td{
			border-top: 1px solid $blue-active-color;
		}
		td {
			color: $black;
			vertical-align: middle;
		}
		th,
		td{
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
			
			.emphasize {
				color: $blue-active-color;
				font-weight: bold;
				margin-right: 15px;
				i.fa {
				color: $blue-active-color;
			}
			}
			
		}
		th.left-article,
		td.left-article{
			text-align: left;
		}
		td.left-title{
			text-align: right;
			color: #183C6D;
			font-weight: bold;
			width: 20%;
			padding-right: 25px;
			border-right: 1px solid $blue-active-color;
		}
		&.group th,
		&.group td{
			text-align: left;
		}

	}
	
	table.youth-science-table {
		tbody {
			tr:not(.first-row) {
				> th,
				> td {
					border: none;
				}
			}
			tr > td.first,
			tr.last-row td {
				color: $blue-active-color;			
			} 
		}
	}
	
	.how-to-find{
		border: 2px solid #ddd;
		border-radius: 4px;
		padding: 10px 25px;
		margin-bottom: 30px;
	}
	.find-title{
		color: $blue-active-color;
		font-size: 16px;
		font-weight: bold;	
	}
	.contact-info {
		.circle-bg,
		.header,
		.detail,
		.call-number {
			display: inline-block;
		}
		.header {
			font-weight: bold;
		}
		.call-number {
			padding-left: 10px;
		}
	}
	
}

.education-table.table{
	margin-bottom: 30px;
}

.education-table.table thead th{
	color: #355C7F;
}

.education-table.table thead{
	border-bottom: 1px solid #355C7F; 
}

.education-table.table tbody{
	border-bottom: 1px solid #355C7F;
}

ul.exp-sub-title{
	font-size: 18px;
}

#edu-exp-body table.program-info-table.group.focusing td{
	font-size: 12px;
}

.program-intro-wrapper {
	border-top: 1px solid $blue-active-color;
	border-bottom: 1px solid $blue-active-color;
	padding-top: 10px;
	padding-bottom: 10px;
	.intro {
		padding-left: 20px;
		padding-right: 20px;
		.header,
		.value {
			display: inline-block;
			padding: 10px 20px;
		}
		.header {
			width: 170px;
			text-align: right;
			color: $blue-active-color;
			font-weight: bold;
			vertical-align: top;
		}
		@media only screen and(max-width: 992px) {
			.header {
				text-align: left;
				display: block;
			}
			.value {
				display: block;
			}
		}
	}
	
}

.call-bottom-guide {
	border: 1px solid $light-gray-color;
	padding: 20px;
	color: $dark-gray-color;
	.call-icon,
	.desc {
		display: inline-block;
	}
	.call-icon {
		width: 20px;
		vertical-align: top;
		.fa-phone {
			font-size: 20px;
		}
	}
	.desc {
		width: 90%;
	}
}

#course-topics-wrapper {
	.panel-group {
		.panel.panel-default {
			.panel-heading {
				.panel-title {
					font-size: 14px;
				}
			
			}
			.panel-collapse {
				.panel-body {
					padding: 15px 25px;
					.content-wrapper {
						display: block;
						padding-top: 10px;
						padding-bottom: 10px;
						.content-label,
						.content-value {
							display: inline-block;
						}
						.content-label {
							width: 100px;
							&.topics{
								width: 250px;
							}
							font-size: 14px;
							font-weight: bold;
							vertical-align: top;
						}
						.content-value {
							color: $black;
							font-size: 14px;
							width: 80%;
						}
						@media only screen and (max-width: 992px) {
							.content-label,
							.content-value {
								display: block;
							}
						}					
					}
				}
			}
		}
	}
	
}

.bordered-div {
	.content-wrapper {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		.content-label,
		.content-value {
			display: inline-block;
		}
		.content-label {
			width: 100px;
			font-size: 14px;
			font-weight: bold;
			vertical-align: top;
			color: $blue-active-color;
		}
		.content-value {
			color: $black;
			font-size: 14px;
			width: 80%;
		}
		@media only screen and (max-width: 992px) {
			.content-label,
			.content-value {
				display: block;
			}
		}					
	}	
}

.education-large-sub-banner {
	background-image: url('../img/education/education_notice_sub_banner_bg.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;  
	position: relative;
	
	   
	&.education-notice {
	    background-image: url('../img/education/education_notice_sub_banner_bg.png');
	}
	
	.banner-content-box {
		height: 193px;
		color: #fff;
		text-align: center;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		.title {
			font-size: 22px;
			.sub {
				font-weight: lighter;				
			}
		}
		.detail {
			font-size: 40px;
			font-weight: lighter;
		}
		.banner-button-wrapper {
			margin-top: 30px;
			.banner-button {
				border: 1px solid #fff;
				color: #fff;
				padding: 10px 0;  
				margin: 5px;
				text-align: center;
				width: 250px;
				text-decoration: none;
				display: inline-block;
				.material-icons {
					vertical-align: middle;
					margin-right: 5px;
				}
				&.active,
				&:hover {
					background-color: rgba(97,141,192, 0.7);	
				}
			}
		} 
	}
}

#education-yearly-time-table {
	> thead {
		> tr {
			> td {
				background-color: #fff;
			}
			&:nth-child(2) {
				> th {
					background-color: $super-light-gray-color;
				}
				
			}
		}
	}
	> tbody {
		> tr {
			> th {
				background-color: #eeeeee;
			}
			> td {
				width: 15%;
				ul {
					text-align: left;
					list-style: disc;
					margin: 0;
				}
			}
		}
	}
	
}