#equip-calendar{
	
}

#equip-calendar .calendar-body td{
	cursor:pointer;	
}

#equip-calendar .calendar-body td:hover{
	background-color: #80cbc4;
	color: white;
}

#equip-calendar .calendar-body td.unavailable{
	background-color: #bbb;
	color: black;
}

#equip-calendar .calendar-body td.active{
	background-color: #009688;
	color: white; 
}

#equip-calendar .calendar-body .date.has-reserve div.circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #009688;
	margin: auto;
}