.event-list-wrapper {
	.event {
		.image,
		.desc {
			margin-bottom: 16px;
		}
		.title {
			margin-bottom: 2px;
		}
		.image {
			position: relative;
			height: 250px;
			img {
				height: 250px;
			}
			.button-wrapper {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				/* background-color: #7b61c5; */
				background-color: rgba(123,97,193,0.7);
				color: #fff;
				padding: 10px;
				.button {
					text-align: center;
					display: inline-block;
					width: 49%;
					padding: 0px;
					&:first-child {
						border-right: 1px solid #fff;
					}
					
					&.single{
						border-right: none;
						width: 100%;
					}
					
					a {
						color: #fff;
						font-size: 14px;
						display: block;
						.material-icons {
							margin-right: 5px;
						}
					}
				}
			}
		}
		.desc {
			padding: 0 5px;
			.title {
				font-size: 16px;
			}
			.title,
			.detail .header{
				font-weight: bold;
				color: #7b61c5;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.detail {
				line-height: 14px;
				padding: 4px 0;
				.header,
				.content {
					display: inline-block;
				}
				.header {
					width: 70px;
					font-size: 13px;
					.fa {
						width: 20px;
					}
				}
			}
		}
	}
	&.camp {
		.event {
			.image {
				.button-wrapper {
					background-color: rgba(60,100,158,0.7);
				}
			}
			.desc {
				.title,
				.detail .header {
					color: $blue-active-color;
				}
			}
		}
	}

}

#events-pagination .pagination li.active {
	background-color: #7b61c5;
}

.event-show-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #9f8dd2;
	border-bottom: 1px solid #9f8dd2;
	
	.image,
	.image img {
		height: 170px;
	}
	
	.desc {
		height: 170px; 
		.title,
		.detail .header {
			font-weight: bold;
			color: #7b61c5;		
		}
		
		.title {
			font-size: 16px;
			margin-bottom: 10px;
		}
		
		.detail {
			margin-bottom: 1px;
			.header,
			.value {
				display: inline-block;
			}
			.header {
				width: 100px;
				.fa {
					width: 20px;
				}
			}
			.value {
				color: $med-gray-color;
				margin-right: 10px;
			}
		}
	}
	
	.link-btn {
		background-color: #7b61c5;
		text-align: center;
		padding: 5px 20px;
		color: #fff;
		width: 200px;
		display: inline-block;
		a {
			color: #fff;
			display: block;
		}
	}
	
	.content {
		margin-top: 10px;
		border-top: 1px solid #e5e5e5;
		padding: 30px;
		text-align: center;
	}
	
	&.camp {
		border-color: $blue-color;
		.desc {
			.title,
			.detail .header {
				color: $blue-active-color;
			}
		}
		.link-btn {
			background-color: $blue-active-color;
		}
	}
}

.board-list-btn {
	background-color: #7b61c5;
	text-align: center;
	padding: 5px 20px;
	color: #fff;
	width: 170px;
	display: inline-block;
	a {
		color: #fff;
		display: block;
	}
	&.camp {
		background-color: $blue-active-color;
	}
}

#events-body {
	i.material-icons{
	   vertical-align: bottom;
	}
    
    #main-event-wrapper{
        .main-events{
            margin-top: 20px;
            border-top: 1px solid $med-gray-color;
	        border-bottom: 1px solid $med-gray-color;
	        .nav-tabs{
	        	border-bottom: 1px solid $med-gray-color;	
		        li.event-item{
		           text-align: center;
		           margin-top: 10px;
		           margin-bottom: 10px;
		           a{
						background-color: white;
						color: $black_with_alpha;
		           }
		           a,a:hover{
		           	border: none;
		           }
		           &.active{
			           a{
			           	background-color: $purple-active-color;
		               	color: white;
			           }
	               }
		        }
	        }
	        .tab-content {
	        	padding: 20px;
	        }
	    }
    }
    
    
}
