@CHARSET "UTF-8";

#government-sub-banner{
	background-image: url("../img/government/gover_sub_banner_bg.png");
	background-position: center;
    background-repeat: no-repeat;
	height: 180px;
	padding-top: 10px;
	color: $med-gray-color;
	font-size: 12px;
	span{
		float: right;
	}
}
 

#government-inforation-nav{
	border-bottom: 1px solid #4cbac6; 
}

#government-inforation-nav {
	.sub-nav {
		padding: 10px 0px;
		.item{
			width: 160px;
			display: inline-block;
			text-align: center;
			padding: 5px; 
			color: #000; 
			&.active{
				background: #545556;
				color: #fff;
			}
		}
	} 
	
	
}

#government-body {
	.tab-item{
		display:none;
		&.active{
			display:block;
		}
	}
	ul{
		padding-left: 20px;
		&.disc {
			> li{
				list-style-type: disc;
				color: $teal-active-color;
				div{
					font-weight: normal;
					font-size:15px;
					list-style-type: disc;
					color: $black-with-alpha;
					&.gray {
						color: $med-gray-color;				
					}
				}
			}
			&.sub-title > li{
				font-size:18px;
				font-weight: bold;
			}
			.margin{
				margin-bottom: 20px;	
			}
		
		}
	}
	
	table.intro tbody tr td:first-child{
		color: #3B969E;
		font-weight: bold;
	}
	.charge-table {
		thead {
			border: none;
			tr th{
				color: #000;
				text-align: center;
				background: #EFF0F1;
			}
		}
		tbody tr td:first-child{
			color: #000;
			text-align: center;
		}
		
		th,
		td {
			border: 1px solid #bbb;		
		}
	}
	.noneopen-desc{
		background: $teal-color;
		padding: 10px;
		color: #fff !important; 
	}
	.noneopen-content{
		margin-top: 10px;		
		div{
			margin-bottom: 10px;
		}
		span{
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #bbb;
			color: #fff;
			display: inline-block;
			text-align: center;
		}
	}
	
}  


