@CHARSET "UTF-8";

#main-top{
	box-shadow: none;
	border: none;
	.nav-wrapper{
		background: #fff;
	    .navbar-brand { 
			img {
				height: 55px;
				@media only screen and (max-width: 768px) {
					height: 45px;
				}
				@media only screen and (min-width: 769px) and (max-width: 992px) {
					height: 50px;
				}
			}	
		}
		&:hover{
			border-bottom: none;
		}
		
	}
}


#main-top-menu{
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid $light-gray-color;
	a{
		color: #7c7c7c;
		font-size: 12px;
		margin: 0 10px;
		&.quick-link {
			color: $primary-color;
			height: 30px;
			line-height: 30px;
			margin: 0;
			padding: 0 10px;
			border-left: 1px solid $light-gray-color;
			
			&.first {
				margin-left: 0;
				padding-left: 0;
				border-left: none;
			}
		}	
	}
	.basic-text {
		font-size: 12px;
		color: $primary-color;
		height: 30px;
		line-height: 30px;
		margin: 0;
	}
	
	.dropdown {
		display: inline-block;
	}
	.search {
		input,
		input:focus {
			width: 200px;
			height: 30px;
			font-size: 12px;
			border: none;
			margin-left: 10px;	
			box-shadow: none;
			background: #E4E4E4;
			color: #7c7c7c;
			margin-left: 5px;
		    padding-left: 10px;
		
		}
		i{
			color: #3d959e;
		}
	}
	.sns-link {
		height: 30px;
		> a {
			display: inline-block;
			margin: 0;
			width: 30px;
		}
	}
	
}

.navbar-default .navbar-nav {
	&.navbar-right {
		margin-right: 0;
	}
	
	>.main-nav-item {
		&.opened {
			.main-sub-nav-wrapper {
				display: block;
			}
		}
		
		> a {
			padding-top: 25px;
			padding-bottom: 25px;
			font-size : 16px;
			&:focus {
				color: #777;
			}
			@media only screen and (min-width: 769px) and (max-width: 992px) {
				padding-left: 7px;
				padding-right: 7px;
				font-size: 14px;
			}
			@media only screen and (max-width: 768px) {
				padding: 10px 15px;
			}
		}
		
		@media only screen and (min-width: 769px ) {
			&:hover {
				> a {
					color: $primary-color;
				}
			}
			&.active,
			&.opened {
				> a {
					color: $primary-color;
					background-color: #fff;
				}
			}		
			&.active {
				@media only screen and (min-width: 769px) {
					border-bottom: 3px solid $primary-color;		
				}
			}
		}
			
		
		.main-sub-nav-wrapper {
			display: none;
			position: fixed;
			left: 0;
			z-index: 9999;
			width: 100%;
			transform: translateY(3px);
			.main-sub-nav{
			    background-color: #fff;
				padding: 20px;
				border: 1px solid $light-gray-color;
				border-top:1px solid #4cbac6; 
			    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
				@media only screen and (max-width: 768px) {
					position: relative;
				}
				.main-category-name {
				    font-size: 18px;
				    color: $primary-color;
				    line-height: 20px;		
				    @media only screen and (min-width: 769px) and (max-width: 992px) {
				    	font-size: 15px;
				    }
				}
				
				a{
					line-height: 20px;
				}
				.menu-link-wrapper {
					border-right: 1px dotted $light-gray-color;
					border-bottom: 1px solid $primary-color;
					&.first {
						border-left: 1px dotted $light-gray-color;	
					}
				} 
				.main-nav-wrapper {
					@media only screen and (min-width: 769px) {
						&.first {
							padding-bottom: 5px;
						}
						&.second {
							padding-top: 5px;
						}
					}
					.sub-category {
						.sub-title {
							font-size: 13px;
							font-weight: bold;
							display: block;
							color: #000;
						}
						.sub-item-wrapper {
							position: relative;
							.sub-item {
								font-size: 13px;
								color: #545556;
								display: block;
								&:hover,
								&:active,
								&:focus {
									color: #0a8eaf;
									font-weight: bold;
								}
							}
						
						}
					}
				}
			}
		}	
	}
}

#mobile-side-navbar {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background-color: $super-light-gray-color;
	border: none;
	overflow-y: scroll;
	box-shadow: 1px 3px 2px -1px #9e9e9e;
	-webkit-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    -ms-transform: translate(100%,0);
    transform: translate(100%,0);
    
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	
	@media only screen and (max-width: 768px) {
		&.active {
			-webkit-transform: translate(45%,0);
		    -moz-transform: translate(45%,0);
		    -o-transform: translate(45%,0);
		    -ms-transform: translate(45%,0);
		    transform: translate(45%,0);
		}
	}
	> ul.navbar-nav {
		margin: 0;
	}
	.main-nav-item {
		&.active,
		&:focus,
		&:hover {
			> a {
				background-color: $teal-dark-color;
				color: #fff;
			}
		}
		.main-sub-nav {
			position: relative;
			padding: 0;
			box-shadow: none;
			background: none;
			border: none;
			height: 0;
			border-bottom: 2px solid $teal-hover-color;
			-webkit-transition: .3s ease-in-out;
		    -moz-transition: .3s ease-in-out;
		    -o-transition: .3s ease-in-out;
		    transition: .3s ease-in-out;
		    -webkit-transform: translate(0,-100%);
		    -moz-transform: translate(0,-100%);
		    -o-transform: translate(0,-100%);
		    -ms-transform: translate(0,-100%);
		    transform: translate(0,-100%);
		    &.active {
		    	display: block;
		    	height: 100%;
				-webkit-transform: translate(0,0);
			    -moz-transform: translate(0,0);
			    -o-transform: translate(0,0);
			    -ms-transform: translate(0,0);
			    transform: translate(0,0);
		    }
		    
			.main-nav-wrapper {
				padding: 0;
				margin: 0;
				.sub-category {
					border-bottom: 1px solid $light-gray-color;
					.sub-title {
						display: block;
						padding: 10px 30px;
						font-size: 14px;
						color: $teal-active-color;
						font-weight: normal;
						&.active {
							color: $teal-active-color;
						}
					}
					&.active,
					&:focus,
					&:hover {
						background-color: $teal-hover-color;
						border-bottom: 1px solid transparent;
						> a {
							color: #fff;
						}
					}
					
				}
				.sub-item-wrapper {
					display: none;
					padding: 0;
					.sub-item {
						display: block;
						padding: 10px 40px;
						color: $dark-gray-color;
						&.active,
						&:hover,
						&:focus {
							background-color: $dark-gray-color;
							color: #fff;
						}
					}
					&.active {
						display: block;
					}
				}
			}
		}
		&.active {
			.main-sub-nav {
				
			}
		}
		
	
	}
}




#main-top-wrapper nav ul li:hover,
#main-top-wrapper nav ul li.active{
	background-color: #fff;
}


#main-banner{
	background-image: url("../img/main_c/main_banner_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	
	padding-top: 20px;
	padding-bottom: 20px;
	
	.carousel {
		.carousel-indicators {
			bottom: 0;
			li.active {
				background-color: $primary-color;
			}
		}
		.carousel-inner {
			.item {
				.slide-caption-box {
					position: absolute;
					top: 15px;
					left: 15px;
					width: 350px;
					background-color: rgba(0,0,0,.7);
					padding: 15px;
					color: white;
					.exhibition-name,
					.title,
					.desc {
						font-size: 12px;
						margin-bottom: 10px;
					}
					.exhibition-name {
						background-color: $primary-color;
						padding: 2px 10px;
						display: inline-block;
					}
					.title {
						color: $primary-color;
						font-size: 2.5rem;
						font-weight: bold;
					}
					.desc {
						height: 70px;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						@media only screen and (max-width: 992px) {
							height: 20px;
							-webkit-line-clamp: 1;
						}
					}
					.link { 
						a {
							padding-top: 5px;
							padding-bottom: 5px;
							font-size: 12px;
							
							i.fa-long-arrow-right {
								margin-left: 5px;
							}
						}
					}
					
				}
			}
		}
	}
}

h4.page-sub-title{
	color: #3B969E;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}

h4.page-sub-title.black-font{
	color: black;
}

#quick-nav-wrapper{
	background-color: #4cbac6;
	color: white;
	padding: 5px 0;
	margin-bottom: 20px;
	
	.mid-search-wrapper {
		padding: 10px;
		border-bottom: 1px inset $super-light-gray-color;
		.mid-search-box {
			.input-group {
				.input-group-addon {
					background-color: $teal-dark-color;
					color: white;
					padding: 0 20px 0 30px;
					border: 2px solid $teal-dark-color;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
				}
				#mid-search {
					height: 40px;
					border: 2px solid $teal-dark-color;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					padding: 5px 15px;
				}
				.fa-search {
					position: absolute;
					top: 50%;
					font-size: 14px;
					transform: translate(0, -7px);
					right: 20px;
					color: $teal-dark-color;
					z-index: 2;
				}
			}
		}
		.contact {
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
			background-image: url('../img/main_c/tel_icon.png');
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 60px;
		}
	}
	
	.quick-nav-items {
		a{
			background-repeat: no-repeat;
			background-position: left center;
			display: block;
			color: white;
			padding-left: 60px;
			padding-bottom: 22px;
			padding-top: 22px;
			font-size: 15px;
			span {
				font-size: 12px;
			}
			&.link1{
				background-image: url("../img/main_a/icons/icon_01.png");
			}
			&.link2{
				background-image: url("../img/main_a/icons/icon_02.png");
			}
			
			&.link3{
				background-image: url("../img/main_a/icons/icon_03.png");
			}
			
			&.link4{
				background-image: url("../img/main_a/icons/icon_04.png");
			}
			
			&.link5{
				background-image: url("../img/main_a/icons/icon_05.png");
			}
			
			&.link6{
				background-image: url("../img/main_a/icons/icon_06.png");
			}
			&.double-line {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	
	} 
	
}






#slide-banner {
	.carousel.slide {
		height: auto !important;	
		
		.carousel-indicators {
			margin-left: 0;
			bottom: 80%;
			left: 10px;
			right: 100%;
			li {
				width: 10px;
				height: 10px;
				border: 1px solid #fff;
				display: block;
				background: none;
				margin: 0 0 3px 0;
				&.active {
					width: 10px;
					height: 10px;
					background-color: #4DBAC6;
				}
				
			}		
		}
		.carousel-inner {
			.item {
				background: #fff;
				.slide-btns {
					position: absolute;
				    bottom: 20px;
				    right: 0;
				    span {
				    	width: 50px;
						height: 50px;
						color: #fff;
						background: #25565A;
						float:right;
						border-radius: 50%;
						text-align: center;
					    line-height: 50px;
					    margin-bottom: 10px;
					    margin-right: 10px;
				    }
				}
			}
		}
	
	} /* .carousel.slide END... */
	
	.slider-quick-link-wrapper div{
		float: left;
		background: #e4e4e4;
		width: 50%;
		padding: 5px 0;
		text-align: center;
		height: 55px;
		color: #5D5D5D;
	}
}




#slide-banner .slider-quick-link-wrapper div:first-child{
	background: #3d959e;
	color: #fff;
}

.ptech-calendar{
	margin-top: 0;
	text-align: center;
}

.calendar-nav{
	background: #F6F7F8;
}

.calendar-nav .nav-title{
	padding: 10px 0;
	font-size: 15px;
	font-weight: bold;	
}

.calendar-nav .ptech-date{
	border: none;
	
}

.calendar-nav .ptech-date.sunday{
	color: red;
}

.ptech-week .ptech-date{ 
	border: none;
	min-height: 30px !important;
	padding: 7px;
}


.main-tab {
	&.no-border {
		.tab-content .tab-pane {
			border-left: none;
			border-right: none;
			border-bottom: none;		
		}
	}
	.nav.nav-tabs {
		li {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			
			a {
				background-color: #e4e4e4;
				border-left: 1px solid #fff;
			    border-right: 1px solid #fff;
			    color: #7c7c7c;
			    display: block;
			    margin-right: 0;
			}
		}
		li.active {
			a {
				background-color: #fff;
				border-left: 1px solid #e4e4e4;
			    border-right: 1px solid #e4e4e4;
			    color: #4cbac6;
			    border-top: 3px solid #4cbac6;
			
			}
		}
	}
	.tab-content {
		
		
		.board-tab {
			padding-top: 15px;
			padding-bottom: 12px;
			border-left: 1px solid #e4e4e4;
		    border-right: 1px solid #e4e4e4;
		    border-bottom: 1px solid #e4e4e4;
		    @media only screen and (min-width: 993px) {
    			    height: 180px;
    				overflow: hidden;
				/* height: 347px; */
			}
		    .board-main-content {
		    	color: #7c7c7c;
		    	span {
		    		font-size: 12px;
		    	}
		    	img {
		    		float: left;
					margin-right: 30px;
		    	}
		    }
		    
		    .board-item{
		    	span {
		    		display: inline-block;
		    	}
		    	
		    	.title {
		    		width: 70%;
	    		    white-space: nowrap;
	    		    overflow: hidden;
		    		text-overflow: ellipsis;
		    	}
		    	
		    	.date {
		    		width: 30%;
		    	}
		    }
		    
		    .board-item-list {
		    	margin-top: 15px;
			    li {
			    	padding: 7px 0;
					color: #7c7c7c;
					.title {
						height: 33px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.date {
						float: right;
						color: #7c7c7c;
					    font-size: 12px;
					}
			    }
		    
		    }
		    .more {
			    border-top: 1px solid #e4e4e4;
				padding: 4px 0;
				text-align: center;
				a {
					display: block;
					color: #7c7c7c;
					font-size: 12px;
				} 
		    }
		    .display-content{
				text-align: center;
				background: #F1F1F1;
				color: #7c7c7c;
				font-size: 12px;
				padding: 15px 10px;
			    margin-bottom: 10px;
			    height: 110px;
			    .title{
					font-size: 13px;
					font-weight: bold;
					color: #3d959e;
				}
			}
			.image-item-link {
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 15px;
				@media only screen and ( min-width: 993px ) {
					img {
						width: 100%;
						height: 122px;
					}				
				}
			}
			
		}
	}
	&.sns {
		.nav.nav-tabs {
			li {
				a.acitve {
					color: #fff;
					background: #455c9f;
					border-top: 0;
					border: 1px solid #455c9f;
				}
			}
		}
		.tab-content {
			.board-tab {
				padding: 20px;
				border-left: 1px solid #ddd;
			    border-right: 1px solid #ddd;
			    border-bottom: 1px solid #ddd;			
			}
		}
	}	
}

.main-board-item {
	/* margin-top: 20px;
	margin-bottom: 20px; */
	> a{
		color: $dark-gray-color;
		
		> div{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

#main-calendar-bottom{
		background: #3d959e;
		color: #fff;
}
#main-calendar-bottom .main-calendar-item{
	padding: 18px 30px;
}
#main-calendar-bottom span{
	border-radius: 50%;
	border: 1px solid #fff;
	width: 50px;
	height: 50px;
	padding-top: 15px;
	display: inline-block;
	text-align: center;
	color: #3d959e;
	background: #fff;
	float: left;
	margin-right: 10px;
}

#main-calendar-more{
	background: #3d959e;
	color: #fff;
	padding: 3px 30px;
}

#main-calendar-more .more {
	border-top: 1px solid #fff;
	padding: 10px 0;
	text-align: center;
}

.main-section-item{
	margin-bottom: 20px;
}

#family-sites-wrapper {
	border-top: 1px solid $light-gray-color;
}
#family-sites {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	
	.slide-btn {
		position: absolute;
		color: $light-gray-color;
		top: 50%;
		transform: translate(0%, -50%);
		font-size: 40px;
		padding: 0 5px;
	    font-family: roboto;
	    
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		&.prev {
			left:0;	
		}
		&.next {
			right:0;	
		}
		&:hover {
			cursor: pointer;
			color: $med-gray-color;
		}
	}
}

#family-slides-window {
	overflow: hidden;
	display: inline-block;
}

#family-slides-wrapper {
	.slide {
		float: left;
		text-align: center;
		a {
			display: inline-block;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
	



.margin-bottom20{
	margin-bottom: 20px
}

#footer{
	background-color: #3f3f3f;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	.address{
		font-size: 12px;
		@media only screen and (max-width: 992px) {
			margin-bottom: 20px;
		}
	}
	.footer-links{
		margin-bottom: 20px;
		.guide {
			@media only screen and (max-width: 992px) {
			margin-bottom: 15px;
		}	
		}
		a{
			display: inline-block;
			padding: 5px 20px;
			&.link-item {
				padding: 5px 15px;
			}
			color: white;
			&.first {
				padding-left: 0;
			}
		}
		.dropup{
			float: right;
			border: 1px solid white;
			> a{
				padding-left: 30px;
				padding-right: 30px;
			}
			i{
				margin-left: 30px;
			}
			@media only screen and (max-width: 992px) {
				float: left;
			}
		}
		.dropdown-menu a{
		  display: block;
		  color: black;
		}
		a:hover{
		  text-decoration: none;
		}
	}
}

#family-site-link{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}


.footer-link-images {
	img{
		width: 30%;
		float: left;
		margin-right: 5px;
	}
	.footer-link-texts{
		float: left;
		margin-right: 5px;
		@media only screen and (max-width: 992px) {
			margin-right: 10px;
		}
		> a{
			color: white;
			.sub-title{
				font-size: 12px;
			}
			.sub-text{
			  font-size: 10px;
			  color: #D9D9D9;
			}
		}
	}
	
	
}

#copyright{
  background-color: #2a2a2a;
  color: white;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.sub-content-nav {
	position: fixed;
    width: 100%; 
    z-index: 1;
	.navbar-default {
		background-repeat: no-repeat;
	    background-position: center; 	
		.nav.navbar-nav {
			width: auto;
			position: relative;
			a.item{
				padding: 0 25px;
				height: 54px;
				line-height: 54px;
				vertical-align: middle;
				color: #fff;
				display:inline-block;
				font-weight: 300;
				&.active,
				&:hover {
					border: 0;
				}
				@media only screen and (min-width: 768px) and (max-width: 992px) {
					padding: 0 15px;
				}
			}
			.bread-crumbs {
				display: inline-block;
			    height: 54px;
			    line-height: 18px;
			    vertical-align: middle;
			    padding: 19px 15px;
			    font-size: 12px;
			    color: #fff;
			    @media only screen and (max-width: 992px) {
			    	display: none;
			    }
			}
		}
	}
	
}




.sub-body{
    padding-top: 108px;
    &.no-sub-child {
    	padding-top: 54px;
    	@media only screen and (max-width: 768px) {
			padding-top: 0;
		}
    }
}

@media only screen and (max-width: 768px) {
	h3.page-title{
		margin-bottom: 10px;
	}
	
	.sub-content-nav {
		display:none;
	}
	.sub-body {
		padding-top: 0;
	}
}


.narrow-sub-top {
	background-color: $light-gray-color;
	position: relative;
	text-align: center;
	padding-top: 15px;
	background-repeat: no-repeat;
	background-position: center;
	height: 180px;
	h4.doc-title {
		margin-top: 27px;
	}
	h6.doc-title.exp-desc{
		color: $med-gray-color;
		font-weight: normal;
	}
	&.no-nav-tabs {
		h4.doc-title {
			margin-top: 30px;
		}
	}
	
	&.guide {
		background-image: url('../img/support/support_sub_banner.png');
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $green-active-color;
				border: 1px solid $green-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $green-color;
				background-color: $green-color;
			}
		}
	}
	
	&.display {
		background-image: url('../img/display/display_sub_banner.png');
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $teal-active-color;
				border: 1px solid $teal-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $teal-color;
				background-color: $teal-color;
			}
		}
	}
	&.education {
		background-image: url("../img/education/education_sub_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	&.events {
		background-image: url("../img/events/events_sub_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $purple-active-color;
				border: 1px solid $purple-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $purple-color;
				background-color: $purple-color;
			}
		}
	}
	&.schedule {
		background-image: url("../img/schedule/schedule_sub_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $purple-active-color;
				border: 1px solid $purple-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $purple-color;
				background-color: $purple-color;
			}
		}
	}
	&.communication {
		background-image: url("../img/communication/communication_sub_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $orange-active-color;
				border: 1px solid $orange-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $orange-color;
				background-color: $orange-color;
			}
		}
	}
	
	&.introduce {
		background-image: url("../img/intro/intro_sub_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	
	&.government {
		
		background-image: url("../img/government/government_sub_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $teal-active-color;
				border: 1px solid $teal-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $teal-color;
				background-color: $teal-color;
				color: white;
			}
		}
	}
	
	
	
	
	&.social {
		background-image: url("../img/communication/08_05_banner.png");
	}
	
	&.customer-service {
		background-image: url('../img/support/customer_service_banner.png');	
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $green-active-color;
				border: 1px solid $green-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $green-color;
				background-color: $green-color;
			}
		}	
	}
	&.convenience .item {
		margin-bottom: 15px;
	}
	&.survey {
		background-image: url("../img/survey/survey_banner.png");
	}
	&.volunteer {
		background-image: url("../img/voluntary/voluntary_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $purple-active-color;
				border: 1px solid $purple-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $purple-color;
				background-color: $purple-color;
			}
		}
	}
	&.notice {
		background-image: url("../img/support/notice_banner.png");
	}
	&.event {
		background-image: url("../img/events/event_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $purple-active-color;
				border: 1px solid $purple-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $purple-color;
				background-color: $purple-color;
			}
		}
	}
	&.play {
		background-image: url("../img/events/play_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $purple-active-color;
				border: 1px solid $purple-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $purple-color;
				background-color: $purple-color;
			}
		}
	}
	&.camp {
		background-image: url("../img/events/camp_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	
	
	&.education-notice {
		background-image: url("../img/education/education_notice_sub_banner_bg.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	
	&.education-group {
		background-image: url("../img/education/group/group_banner.png");
		h4.doc-title,
		h6.doc-title {
			color: #fff;
		}
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	&.reverse-science {
		background-image: url("../img/education/reverse_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	&.education-tree {
		background-image: url("../img/education/tree_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	&.education-course {
		background-image: url("../img/education/education_course_banner.png");
		h6.doc-title.exp-desc {
			color: #fff;
		}
	}
	&.education-refund {
		background-image: url("../img/education/refund/refund_banner.png");
		h6.doc-title.exp-desc {
			color: #fff;
		}
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	&.education-teachers {
		background-image: url("../img/education/teachers/teachers_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	&.education-archieve {
		background-image: url("../img/education/education_archieve_banner.png");
		
	}
	&.youth-science {
		background-image: url("../img/education/youth_science_banner.png");
		
	}
	
	&.lost-property {
		background-image: url("../img/education/teachers/teachers_banner.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $orange-active-color;
				border: 1px solid $orange-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $orange-color;
				background-color: $orange-color;
			}
		}
	}
	
	&.education-guide {
		background-image: url("../img/education/education_guide_sub_banner_bg.png");
		ul.nav.nav-tabs {
			>li.active a{
				background-color: $blue-active-color;
				border: 1px solid $blue-active-color;
				color: white;
			}
			>li a:hover,
			>li a:focus {
				border: 1px solid $blue-color;
				background-color: $blue-color;
			}
		}
	}
	
}

.sub-body .card,
.sub-body .card-image,
.sub-body img
{
	position: inherit;
}

.sub-body .section-sub-title{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 15px; 
}



@media only screen and (max-width: 600px) {
	.table-of-contents .bread-crumbs {
		display: none;
	}	
}



@media only screen and (max-width: 992px){
	#main-logo{
	    text-align: center;
   		display: block;
	}
	
	.slider-quick-link-wrapper div{
		margin-bottom: 10px;
	}
	#board-banner{
		margin-bottom: 10px;
	}
	
}


.color-red {
	color: #bc0c0c;
}

.material-icons.pagination-arrow {
	color: #999A9B;
}

.sub-footer {
	height: 130px;
	background-image: url("../img/main/footer_banner.png");
	background-repeat: no-repeat;
    background-position: center; 
	margin-top: 30px;
	border-bottom: 1px solid $med-gray-color;
	.sub-info-wrapper {
		display: inline-block;
		border-top: 2px solid $primary-color;
		padding: 5px 20px 0 5px;
		margin-right: 20px;
		.sub-info {
			display: inline-block;
			margin-right: 20px;
			.title,
			.content {
				display: inline-block;
				font-size: 12px;
				margin: 0 5px;
			}
			.title {
				color: $primary-color;
				i.fa {
					color: $teal-dark-color;
					font-size: 16px;
					vertical-align: middle;
					margin-right: 2px;
				}
			}
		}
	}
}


.material-icons {
	&.sunny,
	&.cloudy {
		font-size: 22px;	
	}
	&.sunny {
		color: #fc615c;
	}
	&.cloudy {
		color: #6c6c6c;	
	}	
}
	
.responsibility-form {
	margin: 10px auto;
}

.dropdown {
	display:inline-block;
	.dropdown-toggle {
		display: block;
		text-align: left;
		color: #fff;
		padding: 5px 20px;
		.fa {
			position: absolute;
			top: 5px;
			right: 2px;
		}
	}
	.dropdown-menu {
		
		li {
			clear: both;
		    color: rgba(0, 0, 0, 0.87);
		    cursor: pointer;
		    min-height: 50px;
		    line-height: 1.5rem;
		    width: 100%;
		    text-align: left;
		    text-transform: none;
			a {
				font-size: 16px;
			    color: #26a69a;
			    display: block;
			    line-height: 22px;
			    padding: 14px 16px;
			}
			a:hover,
			a:focus {
				outline: 0;
				background-color: $light-gray-color; 
			}
		
		}
	}
		
}

@media only screen and (max-width: 768px) {
	#main-top-menu {
		.search {
			input,
			input:focus {
				width: 125px;	
			}
		}
		a {
			margin: 0 5px;		
		}
		.dropdown .dropdown-toggle {
			padding: 5px;
		}
	}

	.navbar-default .navbar-brand {
		margin-top: 0;
		padding-left: 15px;
	}
	
	.main-sub-nav{
		display: none;
		position: initial;
		height: auto;
		&.active {
			display: block;
		}
		.sub-category {
			
			.sub-item {
				display: none;
			}
			&.active {
				.sub-item {
					display: block;
				}
			}
		}
				
	}
}

#admin-board-index {
	.panel-group {
		.panel-heading {
			padding: 0;
			background-color: #fff;
			a {
				display: block;
				padding: 15px 10px;
			}
			&:hover {
				background-color: $teal-color;
				a  {
					color: #fff;
				}
			}
			&.active {
				font-weight: bold;
				background-color: $teal-active-color;
				border: 1px solid $teal-active-color;
				a {
					color: #fff;
				} 
			}
		}
	}
	ul.list-group {
		.list-group-item {
			padding: 0;
			margin: 0;
			a:not(.btn) {
				display: block;
				width: 100%;
				padding: 10px 20px;
				line-height: 2rem;
				color: black;	
			}
			&.active {
				background-color: #26a69a;
				border-color: #26a69a;
				a {
					color: white;
				}
			}
			&:hover:not(.active) {
				background-color: #eee;
			}
		}	
		&:not(.side-group).inner {
			.list-group-item {
				border: none;
				padding: 0 30px;
				&.inline {
					a.link {
						display: inline-block;
						width: auto;
						margin-right: 20px;
						color: #26a69a;
					}
				}
			}
		}
	}
	ul.collapsible {
		.collapsible-header.active {
			font-weight: bold;
			background-color: $teal-active-color;
			color: #fff;
		}
		.collapsible-body {
			padding: 10px;
			.collection {
				margin: 0;
				a.collection-item {
					color: black;
					&.active {
						background-color: $teal-color;
						color: white;
					}
				}
			}
		}
	}
	table > tbody > tr.reply > .title {
		padding-left: 30px;
	}
}

#file-wrapper {
	border: 1px solid $med-gray-color;
	.title {
		font-size: 15px;
		color: $teal-active-color;
	}
	.file {
		padding: 5px 10px;
		.fa {
			cursor: pointer;
			&:hover,
			&:focus {
				color: red;
			}
		}
	}
}

#bottom-quick-link {
	background-color: $light-gray-color;
	padding: 10px;
	border-bottom: 1px solid $med-gray-color;
	.category {
		color: $teal-hover-color;
		font-size: 15px;
		font-weight: bold;
	}
	.sub-menus {
		padding-top: 10px;
		.sub-menu-item {
			@media only screen and (max-width: 768px) {
				min-height: 148px;
			}
			> a {
				color: $black;
				font-weight: bold;
				font-size: 13px;
			}
			.child-menus {
				padding: 0;
				li {
					a {
						color: $dark-gray-color;
						font-size: 13px;
					}
				}
			}
		} 
		
	} 
	
	/* .link-item {
		width: 16.66666%;
		float: left;
		text-align: center;
		height: 13px;
		line-height: 13px;
		border-right: 1px solid white;
		a {
			display: block;
			color: $dark-gray-color;
			font-size: 13px;
		}
		&.first a {
			border-left: 1px solid white;
		}
		@media only screen and (max-width: 768px) {
			width: 33.333333%;
			&.first-row {
				margin-bottom: 5px;
			}
			
		}
	} */
}

#sub-slide-banner {
	.carousel-indicators {
		bottom: 0;
		li.active {
			background-color: $primary-color;
		}
	}
	
}

#mobile-nav-background-overlay {
	position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

#language-dropdown {
	.dropdown-menu {
		left: initial;
		right: 0;
	}
}

#total-search {
	.count-box {
		color: $teal-dark-color;
		font-size: 18px;
		.count {
			font-size: 30px;
		}
	}
	.result-wrapper {
		border-top: 3px solid $teal-dark-color;
		padding: 20px;
		.title {
			font-size: 16px;
			a {
				color: $teal-active-color;
			}
			mark {
				color: $teal-active-color;
			}
		}
		.content {
			overflow: hidden;
		    border: none;
		    text-overflow: ellipsis;
		    width: 60%;
		    white-space: nowrap;
		    max-width: 0;
			img {
				display: none;
			}
		}
		.title,
		.content {
			mark {
				background-color: $green-light-color;
				padding: .2em;
			}
		}
	}
}

#main-middle-banner {
	background-image: url("../img/main_c/main_middle_banner_bg.jpg");
	background-position: center;
    background-repeat: no-repeat;
    height: 143px;
    margin-bottom: 20px;
    .banner-title {
    	color: #fff;
    	font-size: 20px;
    	height: 143px;
    	line-height: 143px;
    	text-align: center;
    }
		
}

#emailPolicyModal {
	.modal-content {
		
	}
	.modal-body {
		padding: 20px;
		max-height: 550px;
		overflow-y: scroll;
	}
	
	
}

.sub-banner-tab-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 10px;
	text-align: center;
	ul.nav.nav-tabs {
		border: none;
		> li{
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
			> a{
				background-color: $med-gray-color;
				color: #fff;
				.fa {
					margin-right: 5px;	
				}
			}
			@media only screen and (max-width: 992px) {
				margin-top: 3px;
			}
		}
	}
}

.navbar-detailed {
	background-position: center;
    background-repeat: no-repeat;
    height: auto;
	.sub-category-wrapper {
		ul {
			padding: 0;
			margin: 0;
			.sub-category {
				float: left;
				
				a {
					display: block;
					background-color: transparent;
					height: 56px;
					line-height: 56px;
					text-align: center;
					color: #fff;
					padding: 0 20px;
				}
			}
		}
	}
	.sub-child-wrapper {
		background-color: $light-gray-color;
		ul {
			padding: 0;
			margin: 0;
			.sub-child {
				float: left;
				a {
					display: block;
					background-color: transparent;
					height: 52px;
					line-height: 52px;
					text-align: center;
					color: $dark-gray-color;	
					padding: 0 10px;
				}
				&:hover {
					a {
						color: $med-gray-color;
					}			
				}
			}
		
		}
	}
	
}

$duration: 50s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 12rem; 
}

.ticker {
    
  display: inline-block;
  white-space: nowrap; /* display items in a line */
  
  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
  
}
.ticker__item {
	display: inline-block;
}

#top-member-frame-wrapper {
	.title {
   		color: $primary-color;	
   		margin-bottom: 5px;
   		font-size: 18px;
   		font-weight: bold;
   		.extra {
   			font-size: 12px;
   		}
   	}
}

#topMemberFrame {
    margin-bottom: 20px;
    background: $teal-color;
	#member-frame-slide-window {
		position: relative;
	}
	#member-frame-slide-wrapper {
		position: absolute;
		left: 0;
	}
    .frame-wrapper {
		background-position: center;
	    background-repeat: no-repeat;
    	overflow: hidden;
    	padding: 5px 0 7px 0;
    	.member-category {
    		font-size: 13px;
    		display: inline-block;
    		&.gold {
    			margin-left: 800px;
    		}
    		.member-category-title{
    			color: #0D4388;
    			font-weight: bold;
    		}
	    	.members,
	    	.member-frame {
	    		display: inline-block;
	    	}
	    	.names {
	    		display: inline-block;
	    		vertical-align: top;
	    		.name {
	    			margin-right: 10px;
	    			font-size: 12px;
	    			white-space: nowrap;
					overflow: hidden;
	    			text-overflow: ellipsis;
	    		}
	    		
	    	}
    	}
    }
	
}
#navbar-desktop {
	z-index: 1003;
}

#navbar-desktop-overlay {
	position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background-color: transparent;
    display: none;
    will-change: opacity;
}