#intro-body {
    .chief-name{
	    text-align: center;
	    padding: 10px;
	}
	.gray-circle-img{
	    display: block;
	    border: 2px solid #E4E4E4;
	    border-radius: 50%;
	    margin: auto;
	}
	.chief-comment{
	    padding: 0px 20px;
	    .page-sub-title{
	       line-height: 25px;
	    }
	}
	
	h4.page-sub-title,
	.surround-row {
		.material-icons {
			vertical-align: bottom;
		}
	}
}  

.narrow-sub-top.intro {
	background-image: url('../img/intro/07.png');
	.main-nav {
		.item {
			background: $blue-color;
			color: #fff;
			&.active {
				background: $blue-active-color;	
			}
		}
	}
}

#history .timeline-title span{
	font-size: 14px;
}

#history .timeline-title .year{
	display: inline-block;
	width: 60px;
	color: #41959D;
	font-weight: bold;
	font-size: 18px;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		display: block;
		&:not(:empty) {
			padding-bottom: 5px;
		}
	}	
}

#history .timeline-title .month{
	font-weight: bold;
	padding-right: 10px;
	font-size: 16px;
}

.timeline {
    list-style: none;
    position: relative;
    margin-top: 0;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 0px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 10px 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 5px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 6px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -20px;
            background-color: #41959D;
            z-index: 0;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border: 2px solid #DADDDE;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

h4.timeline-title{
	font-size: 18px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 20px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 70px);
        width: -moz-calc(100% - 70px);
        width: -webkit-calc(100% - 70px);
        margin-bottom: 20px;
    }

    ul.timeline > li > .timeline-badge {
        left: 10px;
        top: 13px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

#vision{
	background-color: #ddd;
	background-image: url("../img/intro/vision-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0 50px 0;
	
	img.banner-img {
		display: block;
		margin: auto;
		@media only screen and (max-width: 768px) {
			margin-top: 45px;		
		}
	}
	.visions-wrapper{
		position: relative;
		min-height: 350px;
		img{
			position: absolute;
		}
		.vision-msg-wrapper {
		    position: absolute;
		    top: 80px;
		    left: 0;
		    right: 0;
		    padding-left: 25px;
		    padding-right: 25px;
			
			.msg-box {
			    background-color: #fff;
			    padding: 10px 20px;
			    margin: 26px auto;
			    outline: 6px solid rgba(255,255,255,0.5);
			    text-align: center;
				
				.number,
				.text {
					display: inline-block;
				}
				.number {
					width: 30px;
					font-size: 20px;
					font-weight: bold;
				}
				.header {
					font-size: 18px;
					font-weight: bold;
				}
				.text {
					font-weight: bold;
				}
			}
			
		}
		
	}
}


#vision .visions-wrapper img.vision-title{
	left: 50%;
	margin-left: -122px;
}

#vision .visions-wrapper img.vision-left{
	left: 20%;
	top: 45px;
	@media only screen and (min-width: 762px) and (max-width: 992px) {
		left: 10%;
	}
	
}

#vision .visions-wrapper img.vision-right{
	right: 20%;
	top: 45px;
	@media only screen and (min-width: 762px) and (max-width: 992px) {
		right: 10%;
	}	
}

#vision .visions-wrapper img.vision-center{
	left: 50%;
	margin-left: -108px;
	top: 100px;
}

#facility{
	padding-top: 20px;
	min-height: 531px;
	background-image: url("../img/intro/facility-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

#facility h3.page-title{
	color: white;
	border-color: white;
}

#facility .facility-row{
	color: white;
	margin-bottom: 10px;
}

#facility .facility-row span.title{
	display: inline-block;
	width: 300px;
}

#logos .logo-item .logo-img{
	border: 1px solid #ddd;
	position: relative;
}

#logos .logo-item .logo-img img{
	display: block;
	margin: auto;
	padding: 10px;
}

#logos .logo-item .logo-img .download-btns{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(15, 58, 98, 0.9);
	color: white;
	text-align: center;
	top: 0;
}

#logos .logo-item .logo-img .download-btns a{
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	padding: 40px 0;
}

#logos .logo-item .logo-img .download-btns a strong{
	font-size: 20px;
}

#logos .logo-item .logo-img .download-btns a.half{
	width: 50%;
	float: left;
}

#logos .logo-item .logo-img:hover .download-btns{
	display: block;
}

#logos .logo-item .logo-img .download-btns a:hover{
	background-color: rgba(15, 58, 98, 0.7);
}

#logos .logo-item .logo-desc{
	padding: 20px;
}

#organization-chart{
	position: relative;
	height: 300px;
}

#organization-chart .organization-item{
	color: white;
	display: inline-block;
	background-color: #57BAC4;
	padding: 10px 15px;
	border-radius: 4px;
	text-align: center;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -43px;
	min-width: 86px;
	cursor: pointer;
}

#organization-chart .organization-item:hover{
	background-color: #1D9AA8;
}

#organization-chart .organization-item.left-side{
	background-color: #78B3D5;
}

#organization-chart .organization-item.left-side:hover{
	background-color: #3489BD;
}

#organization-chart #first-node{
	background-color: #355C7F;
	font-size: 20px;
   	margin-left: -86px;
   	top: 0;
   	z-index: 1;
}

#organization-chart #second-node{
	background-color: #1D9AA8;
	top: 85px;
	margin-left: 225px;
}

#organization-chart #first-node-vertical-line{
	top: 50px;
	height: 25px;
    border-left: 1px solid #ddd;
    position: absolute;
    left: 50%;
}

#organization-chart #second-node-vertical-line{
	top: 75px;
	height: 85px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: absolute;
    left: 50%;
    width: 534px;
    margin-left: -267px;
}

#organization-chart .node-line{
	top: 159px;
	height: 30px;
    position: absolute;
    left: 50%;
    width: 106px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#organization-chart #node-line1{
	border-left: 1px solid #ddd;
    margin-left: -372px;
}

#organization-chart #node-line2{
	margin-left: -266px;
}

#organization-chart #node-line3{
	border-left: 1px solid #ddd;	
}

#organization-chart #node-line4{
	margin-left: 106px;
}

#organization-chart #node-line5{
	margin-left: 212px;
}

#organization-chart #node-line6{
	margin-left: 318px;
}

#organization-chart #node-line7{
	margin-left: 424px;	
}

#organization-chart{
	.organization-item.node1{
		margin-left: -414px;
	}
	
	.organization-item.node2{
		margin-left: -308px;
	}
	
	.organization-item.node3{
		margin-left: -202px;
	}

	.organization-item.node5{
		margin-left: 63px;
	}
	
	.organization-item.node6{
		margin-left: 169px;
	}
	
	.organization-item.node7{
		margin-left: 275px;
	}
	
	.organization-item.node8{
		margin-left: 381px;
	}
	
	.organization-item.node9{
		margin-left: 487px;
	}
}

#organization-mobile-chart{
	margin-bottom: 20px;
	
	.organization-item{
		width: 100%;
		background-color: $teal-color;
		color: white;
		padding: 10px 20px;
		margin: 5px 0;
		
		&#first-node{
			background-color: $blue-active-color;
		}
		
		&#second-node{
			background-color: $teal-active-color;
		}
		
		&.left-side{
			background-color: $blue-color;
		}
	}
	
	
	.row{
		margin-top: 0;
		margin-bottom: 0;
		
		.organization-item {
			margin-top: 0;
		}
	}
}

table.table.org-info-table {
	margin-bottom: 30px;
}

table.table.org-info-table thead{
	border: 1px solid #ddd;
	background-color: #f2f2f2;
}

table.table.org-info-table thead th{
	padding-left: 30px;
	
}

table.table.org-info-table tbody tr td{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}

table.table.org-info-table tbody td{
	padding-left: 30px;
}

table.table.org-member-table{
	margin-bottom: 30px;
}

table.table.org-member-table tbody,
table.table.org-member-table thead tr{
	border-bottom: 1px solid $blue-color;
} 

table.table.org-member-table thead tr th{
	color: $blue-color;
	font-weight: bold;
	border-bottom: 1px solid $blue-color;
}

table.table.org-member-table tbody tr td{
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
}

.public-transportation{
	padding: 30px;
	border: 2px solid #ddd;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.location-info-desc{
	padding-left: 20px;
	margin-bottom: 20px;
}

.location-info-desc .how-to-location{
	padding-left: 20px;
}

.location-info-desc .multiple-locations{
	padding-left: 20px;
}

.location-info-desc .how-to-location-right-arrow{
	color: #3B969E;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.extra-info{
	color: #3B969E;
	font-size: 12px;	
}

.parking-info-item{
	margin-top: 45px;
	margin-bottom: 20px;
	position: relative;
	
	padding: 40px 20px 20px 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
	text-align: center;
	height: 140px;
	
}

.parking-info-item:hover{
	color: #123B61;
}

.parking-info-item .circle-item{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	left: 50%;
	margin-left: -25px;
	top: -25px;
	background-color: #3B969E;
	color: white;
	padding-top: 7.5px; 
}

.parking-info-item:hover .circle-item{
	background-color: #123B61;	
}

.parking-infos{
	margin-bottom: 20px;
}

.parking-infos .right-arrow{
	color: #3B969E;
	display: inline-block;
	width: 20px;	
}

.parking-infos .parking-etc-info{
	padding-left: 20px;
}

.table.parking-price-table{
	margin-bottom: 30px;
}

.table.parking-price-table tr th,
.table.parking-price-table tr td{
	padding-left: 30px;
}

.table.parking-price-table tr{
	border-bottom: 1px solid #ddd;
}

.table.parking-price-table tr.bottom-row{
	border-bottom: 1px solid #3B969E;
}

.table.parking-price-table tr th{
	color: $blue-color;
	border-bottom: 1px solid $blue-color; 
}

.table.parking-price-table thead tr{
	border-bottom: 1px solid #3B969E;
}

.table.parking-price-table tbody,
.table.parking-price-table tbody .bottom-teal-line{
	border-bottom: 1px solid $blue-color;	
}

.surround-row{
	padding-top: 5px;
	padding-bottom: 5px;
	.surround-img {
		padding-top: 15px;
		padding-bottom: 15px;
		@media only screen and (max-width: 992px) {
			img {
				width: 980px;
			}
		}
	}
	.surround-title{
		color: #3B969E;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 20px;	
	}
	.surround-desc{
		margin-bottom: 20px;
	}
	&.even-surround{
		background-color: #f2f2f2;
		.surround-title{
			color: $blue-active-color; 
		}
		
		.surround-text-wrapper {
			float: left;
		}
		.surround-img-wrapper {
			float: right;
		}
		
		@media only screen and (max-width: 992px) {
			.surround-text-wrapper {
				float: right;
			}
			.surround-img-wrapper {
				float: left;
			}
		}
	}
		
}


.education-transportation h4.page-sub-title,
.education-transportation .location-info-desc .how-to-location-right-arrow{
	color: #183C6D;
}

.family-site-links{
	.row{
		margin-bottom: 30px;
	}
	
	a{
		color: $dark-gray-color;
		font-size: 12px;
	}
}


#detail-map-modal {
	.modal-dialog {
		@media only screen and (min-width: 768px) and (max-width: 992px) {
			width: 700px;
		}
		@media only screen and (min-width: 992px) {
			width: 900px;
		}
	}
}

#sitemap {
	.main-category {
		margin-bottom: 30px;
	}
	.main-category-title {
		color: $blue-active-color;
	}
	.sub-title {
		color: $super-dark-gray-color;
		font-size: 13px;
		font-weight: bold;
	}
	.sub-item-wrapper {
		.sub-item {
			color: $dark-gray-color;
			font-size: 12px;	
			display:block;
		}
	}
	
}
