
.main-event-wrapper{
    .main-event-item{
        float: left;
	    form{
	        display: none;  
	    }
	    form.active{
	       display: inline-block;
	    }
    }	
    .control{ 
       float: right;
       text-align: right;
    }
}