.svg-map-wrapper{
	position: relative;
	width: 100%;
	.svg-page-wrapper {
		position: relative;
	}	
}

.svg-map-wrapper img.bg-img,
.svg-map-wrapper svg{
	width: 100%;
	top: 0;
    left: 0;
}

.svg-map-wrapper svg{
	position: absolute;
}