@mixin aspect-ratio ($width, $height ) {
	position: relative; 
	
	&:before { 
		display : block;
		content: "";
		width: 100%;
		padding-top: ($height/$width)* 100%;
	}

	> .main-page-grid-item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.main-page-grid {
	padding-left: 0;
	padding-right: 0;
	.carousel-indicators{
		bottom: 0px ;
	}
	.main-page-grid-item {
		text-align: center;
		overflow: hidden;
		
		.banner-btns {
			position: absolute;
			text-align: center;
			top : 50%;
			width: 100%;
			padding: 10px 20px;
			transform : translate( 0%, -50%);
			z-index: 999;
			background-color: rgba(255, 255, 255, .4);
		}
		
		.new-banner-btn,
		.edit-banner-btn {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	
	.height_5_2 {
		@include aspect-ratio(5, 2);
	}
	
	.height_5_4 {
		@include aspect-ratio(5, 4);
	}
	
	.height_5_6 {
		@include aspect-ratio(5, 6);	
	}
	
	.height_5_8 {
		@include aspect-ratio(5, 8);
	}
}

#main-banner-row,
#main-event-banner-row {
	margin-left: 0;
	margin-right: 0;
	
	.carousel-indicators li{
		border: 1px solid #bbb;
		&.active{
			background-color: #bbb; 
		}
	}
}

#main-icon-banners,
#main-event-banners-wrapper,
#main-event-banners,
#main-footer-banners {
	background-color: $teal-color;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	.iconBanner {
		margin-top: 10px;
		margin-bottom: 10px;
	    position: relative;
	    min-height: 30px;
	    border-radius: 8px;
		.banner-btns {
			position: absolute;
			text-align: center;
			top : 50%;
			width: 100%;
			padding: 10px 20px;
			transform : translate( 0%, -50%);
			z-index: 999;
			background-color: rgba(255, 255, 255, .4);
		}
		
		&.radius{
			img{
				border-radius: 8px;
			}
		}
	}
}

#main-footer-banners  {
	background-color: transparent;
}

#main-event-banners-wrapper {
	background-color: transparent;
	.title {
		color: $primary-color;
		font-size: 20px;
		font-weight: bold;
	}
	.iconBanner {
		margin-top: 0;
		margin-bottom: 0;
	}
}