@CHARSET "UTF-8";

.exhibition-sub-banner.aerospace {
    background-image: url('../img/display/outdoor/aerospace/banner_bg.png');
}



.sangsang-equip-item {
	margin-bottom: 30px;
	.sangsang-img{
	    img{
	        border: 1px solid #bbb;
	    }
	}
	.sangsang-content{
	    .title {
	        font-weight: bold;
	        color : #008A95; 
	        margin-bottom: 10px;
	        display: inline-block;
	    }
	    p{
	        margin : 0;
	    }
	    ul{
	        margin: 0;
			>li {
				padding-left: 2em;
				text-indent: -2em;
			}
			>li:before {
				content: "•";
				color: $primary-color;
				font-size: 30px;
				line-height: 10px;
				vertical-align: middle;
				margin-left: -5px;			
			}
	    }
	}
	
}

.sangsang-btn{
    a{	
    	display: inline-block;
        padding: 10px 30px;
        border: 1px solid #008a95;
        color: #008a95;
        margin-top: 10px;
    }
}
.equip-calendar{
	border-bottom: 1px solid #bbb;
	margin-bottom: 20px;
    padding-bottom: 10px;
    
    .calendar-item {
	    .calendar-wrapper{
	       border: 1px solid #008a95;
	       padding: 10px;
	    }
	    
	    thead{
	       border: 0;
	    }
	    
	    .time-table{
	       td{
	           padding: 5px 0;
	       }
	       
	       th{
	           padding-bottom: 0;
	           border-bottom: 1px solid #bbb;
	       }
	    }
	    
	}	
}

.step-title span:before{
	content: "• ";
    color: #59B8CF;
    font-size: 25px;
    vertical-align: middle;
}

 