.schedule-calendar .ptech-date{
	cursor: pointer;
}

.schedule-calendar .ptech-date > div{
	width: 22px;
	height: 22px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	margin: auto; 
}

.schedule-calendar .ptech-date.active > div{
	background-color: #3d959e;
	color: white;
	border-radius: 50%;
}

.sub-content-nav.schedule-sub-content-nav{
	background-image: url("../img/schedule/sub-banner.png");
}

#schedule-banner{
	background-image: url("../img/schedule/banner.png");
	background-repeat: no-repeat;
    background-position: center;
}


#schedule-search-form{
	padding-bottom: 20px;
	
	.search-title{
		color: $purple-active-color;
		font-size: 18px;
		font-weight: bold;
		
		&.has-top-line{
			border-top: 1px solid #ddd;
			padding-top: 20px;
		}
		
		small{
			color: $med-gray-color;
			font-size: 14px;
			font-weight: normal;
		}
	}
	
	button.btn.search-btn{
		background-color: $purple-active-color;
	}
	
	select.year-selector{
	
	}
	
	.dropdown-content li > a, .dropdown-content li > span{
		color: $purple-active-color;	
	}
}

#schedule-search-condition{
	.search-title{
		color: $purple-active-color;
		font-size: 18px;
		font-weight: bold;
	}
	a.month-navigator{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		color: $purple-active-color;
	}
	
	.date-selector{
		margin-top: 10px;
		text-align: center;
		height: 46px;
		line-height: 46px;
		vertical-align: middle;
		
		a {
			color: $purple-active-color;
		}
	}
	
	.has-form{
		margin-bottom: 10px;
	}
	
	.dropdown-content li > a, .dropdown-content li > span{
		color: $purple-active-color;	
	}
	
	.select-wrapper{
		input.select-dropdown{
			margin-top: 10px;
			border: 1px solid #ddd;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		span.caret{
			right: 10px;
		}
	} 
	
	.select-wrapper.no-line-select{
		input.select-dropdown{
			border: none;
		}
	}
	
	.month-selector .caret{
		display: none;
	}
	
	.search-key{
		border: 1px solid #ddd;
		padding-left: 10px;
		padding-right: 10px;
		
		&:focus{
			border: 1px solid $purple-active-color;
			box-shadow: none;
		}
	}
}

#schedule-items{
	padding-top: 10px;
	padding-bottom: 10px;
	
	.schedule-item{
		border: 1px solid #ddd;
		padding: 20px;
		background-color: white;
		margin-bottom: 20px;
		
		.title{
			font-size: 16px;
			font-weight: bold;
			height: 48px;
			margin-bottom: 20px;
			word-break: keep-all;
		}
		
		.info-row{
			font-size: 14px;
			
			.info-label,
			.info-text{
				float: left;
			}
			
			.info-label{
				width: 40px;
				color: $purple-active-color;
			}
		}
		
		.schedule-btns{
			text-align: right;
			
			> a{
				display: inline-block;
				color: white;
				width: 45px;
				height: 45px;
				line-height: 45px;
				vertical-align: middle;
				text-align: center;
				border-radius: 50%;
				background-color: #888;
				
				&.reservation-btn{
					background-color: $purple-active-color;
				}
			}
		}
	}
}

#schedule-search-condition{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.schedule-table{
	margin-bottom: 30px;
	
	tbody > tr > td{
		
		a {
			color: black;
			
			&:hover,
			&:focus{
				/* color: $purple-active-color;
				font-weight: bold; */
			}
		}
		
		.btn{
			box-shadow: none;
		}
		
		.btn.detail-btn{
			background-color: white;
			color: $purple-active-color;
			border: 1px solid $purple-active-color;
		}
		
		.btn.reserve-btn{
			background-color: $purple-active-color;
			color: white;
		}
		
		span.label{
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 0;
			padding-right: 0;
			display: inline-block;
			width: 80px;
			color: white;
			background-color: #535455;
			
			&.processing{
				background-color: #9a1017;
			}
			
			&.waiting{
				background-color: #fbb42b;
			}
		}
	}
	
}

#schedule-container{
	/* .pagination-wrapper{
		ul.pagination {
			> li > a{
				display: inline-block;
				padding: 5px 15px;
				border-radius: 4px;
				color: $purple-active-color;
				
				&.active{
					background-color: $purple-active-color;
					color: white;
				}
			}
		}
	}	 */
}

.schedule-title{
	font-size: 18px;
	color: $purple-active-color;
	font-weight: bold;	
}

.reservation-process{
	margin-bottom: 5px;
	
	.process-wrapper{
		border: 1px solid $purple-active-color;
		
		.process-title{
			/* border-bottom: 1px solid $purple-active-color; */
			color: $purple-active-color;
			padding: 10px 20px;
			div.right {
				
			}
		}
	}
	
	&.active{
		.process-title{
			color: white;
			background-color: $purple-active-color;
		}	
	}
	
	.reservation-status-infos{
		padding: 10px 20px;
		
		> span{
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: $purple-active-color;
			border-radius: 50%;
			margin-right: 10px;
			margin-left: 20px;
			
			&.available{
				background-color: $primary-color;
			}
			
			&.waited{
				background-color: $orange-color;
			}
		}
	}
	
	[type="checkbox"]:checked + label:before{
		border-right: 2px solid $purple-active-color;
    	border-bottom: 2px solid $purple-active-color;
	}
}

#program-calendar-wrapper{
	.calendar-nav{
		background-color: white;
				
		.nav-title{
			font-size: 25px;
			a {
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px;
				color: $purple-active-color;
				
			}
		}
	}
	
	.calendar-nav .ptech-date{
		font-size: 18px;
	}
	
	.ptech-week .ptech-date{
		font-size: 16px;
		
		> div {
			margin: auto;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			vertical-align: middle;
			border-radius: 50%;
		}
		
		&.available{
			> div{
				background-color: $primary-color;
				color: white;
				
				&:hover{
					cursor: pointer;
				}
			}
			
			&.selected{
				> div{
					background-color: $purple-active-color;
				}
			}
		}
	}
}

.schedule-sangsang-item{
	padding-bottom: 20px;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
	border: 1px solid #ddd;
	position: relative;
	border-radius: 5px;
	
	img.over-img{
		position: absolute;
		left: 50%;
		margin-left: -46px;
		top: -46px;
		z-index: 1;
	}
	
	img.item-img{
		border-radius: 5px;
	}
	
	.link-for-reserve{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

#program-agree-modal {
	>.modal-dialog {
		.modal-content {
			.modal-body {
				overflow-y: scroll;
				height: 500px;
			}
		}
	}
	
}