$structure-color: #7b61c5; 

#structure-unavailable-calendars{
	.month-selector{
		height: 32px;
		line-height: 32px;
		vertical-align: middle;
		font-size: 20px;
		
		a {
			display: inline-block;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	
	.calendar-body td.date > div.circle{
		width: 36px;
	    height: 36px;
	    line-height: 36px;
	    margin: auto;
	    border-radius: 50%;
	    vertical-align: middle;
	}
	
	.calendar-body td.date.unavailable{
		
	}
	
	.calendar-body td.date.disabled{
	
	}
	
	#structure-calendar{
		margin-bottom: 30px;
		
		td.date{
			width: 14.28%;
			border-radius: 0;
			color: #26a69a;
		}
		
		td.date.available > div.circle{
			color: $green-active-color;
			
			&.admin {
				color: #26a69a;
			}
		}
		
		td.date.active{
			color: #fff;
   			background-color: #26a69a;
   			
   			&.available {
   				.circle.admin {
					color: white;
				}
   			}
		}

		td.date.disabled > div.circle,
		td.date.unavailable > div.circle{
			color: $light-gray-color;
		}
	}
}

#structure-wrapper{
	h4.page-sub-title{
		color: black;
	}
	
	#structure-tabs{
		&.tabs .tab a{
			color: $structure-color;
		}
		
		&.tabs .indicator{
			background-color: $structure-color;
		}
	}
	
	ul.structure-activity{
		padding-left: 40px;
		
		> li{
			list-style-type: disc;
		}
	}
}

#structure-process-wrapper{
	margin-top: 10px;
	
	.structure-process{
		text-align: center;
		padding: 15px;
		border: 1px solid #ddd;
		min-height: 145px;
		margin-bottom: 30px;
		
		.number{
			font-weight: 300;
			font-size: 24px;
		}
		
		.title{
			color: $green-color;
			font-size: 16px;
			font-weight: bold;
		}
		
		.btn{
			background-color: $green-color;
		}
		
		strong{
			color: red;
			font-size: 12px;
			@media only screen and (max-width: 768px ) {
				position: absolute;
				bottom: 25%;
				left: 0;
				right: 0;
				font-size: 10px;
			}
		}
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			min-height: 168px;
		}
		
			
	}
}

table.structure-price-table {
	> tbody > tr > td {
		img {
			min-width: 100px;
			width: 100%;
		}
	}
	
}	
