

#support-sub-nav {
	.sub-nav {
		padding-top: 20px;
		.item {
			display: block;
			text-align: center;
			padding: 5px; 
			color: $black;
			border: 1px solid $light-gray-color; 
			.fa {
				margin-right: 5px;
			}
			&.active{
				background: $dark-gray-color;
				border-color: $dark-gray-color;
				color: #fff;
			}
			&:hover:not(.active) {
				cursor: pointer;
				background-color: $super-light-gray-color;
				border-color: $light-gray-color;
				color: $super-dark-gray-color;
			}
		} 
		&.convenience .item {
			margin-bottom: 15px;
		}
	}
}



#support-body {
	.sub-header {
		margin-top: 15px;
	}
	.tab-item{
		display:none;
		&.active{
			display:block;
		}
	}
	.tab-item .convenience-detail {
		margin-top: 10px;
	}

	.convenience-detail {
		.detail-img-box {
			margin: 15px auto;
		}
	}
	.food-detail {
		margin-top: 10px;
	}
} 




.price-box-wrapper {
	margin-bottom: 20px;
	.sub-header {
		margin-bottom: 10px;
		li {
			line-height: 40px;  
		}       
	}
	.detail-btn {
		padding: 8px 15px;
	    width: 240px;
	    background-color: $green-color;
	    color: #fff;
	    text-align: left;
	    float: right;
		a {
			color: #fff;
			line-height: 24px;
		}
	}
	
	.price-box {
		table {			
			td > .extra-info {
				color: $med-gray-color;
				font-weight: normal;
				font-size: 13px;
			}
			thead {
				>th:first-child {
					width: 30%;
				}
				>th:nth-child(2) {
					width: 15%;
				}
				>th:nth-child(3) {
					width: 20%;
				}
			
			}
		}
	}	
}

 


#foodCourt {
	.foodCourt-restaurant-wrapper {
		margin-top: 10px;
		border-left: 1px solid $light-gray-color;
		border-right: 1px solid $light-gray-color;
		border-bottom: 1px solid $light-gray-color;
		.sub-nav {
			border-top: 1px solid $light-gray-color;
			border-bottom: 1px solid $light-gray-color;
			.item {
				text-decoration:none;
				color: $dark-gray-color;	
				text-align: center;
				padding: 10px 0;
				display: block;
				&.active {
					color: $green-active-color;
					border-bottom: 2px solid $green-active-color;
				}
			}
		}
		.restaurant-item {
			display: none;
			&.active {
				display: block;
			}
			.intro {
				padding-top: 20px;
				.left-side {
					padding: 50px;	
					.logo,
					.detail {
						text-align: center;
					}
					.logo img {
						display: inline-block;
					}
				}
				.right-side img {
					padding-left: 15px;
					padding-right: 15px;
				}			
			}
			.menu {
				.header {
					margin: 15px;
					padding: 5px;
					border-top: 2px solid $green-active-color;
					color: $green-active-color;
				}
				.menu-item,
				.menu-item-sm  {
					padding: 20px 0;
					.detail .menu-name, 
					.detail .menu-detail,
					.image,
					.detail .menu-name, 
					.detail .menu-detail,
					.image {
						text-align: center;
					}
					.image img {
						display: inline-block;
					}
				}
				.menu-item {
					.detail {
						.menu-detail {
							color: $med-gray-color;
						}
					}
				}
				.menu-item-sm {
					.detail {
						margin-top: 30px;
					}
				}
			}
			
		}
	}  
	
	
}

#cafe {
	.food-detail {
		.menu-wrapper {
			border: 1px solid $light-gray-color;
			padding: 20px 40px;
			.tea-wrapper {
				@media only screen and (max-width: 768px) {
					clear: both;
				}
			}
			.etc-wrapper {
				@media only screen and (min-width: 992px) {
					clear: both;
				}
			}
		}
		.menu {
			margin: 10px auto;
			.category {
				font-weight: bold;
				font-size: 16px;
			}
			.menu-name {
				margin-top: 2px;
				font-size: 13px;
				color: $med-gray-color;
			}
		}
	}
	
}




#support-body {
	.sub-section {
		.sub-section-title {
			margin-top: 15px;
			font-size: 16px;
			font-weight: bold;
		}
		.content {
			margin-top: 15px;
			margin-left: 15px;
			table > thead > th,
			table > tbody > td {
				padding: 15px 20px;
			}
			.content-title-wrapper {
				ul.content-title > li {
					font-weight: bold;
				}				
			}
			.detail {
				margin-top: 10px;
				margin-left: 20px;				
				.process-header {
					font-weight: bold;
					margin: 10px 0 5px 0;
				}
			}		
		} /* .content END ... */
		
		
	}/* .sub-section END ... */
}

#support-body .section .lost-list-table thead th,
#support-body .section .lost-list-table tbody td .material-icons.file-attached {
	color: #1A8EAD;
}

#support-body .section .lost-list-table tbody td a {
	text-decoration: underline;
    color: #1A8EAD;
}


.eval-table table th,
.eval-table table td {
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	
	 
}

.eval-table table th.no-right-border,
.eval-table table td.no-right-border {
	border-right: none;
}

#support-body table td.left-text {
	text-align: left;
}

#support-body .table-extra-info {
    margin-top: 10px;
    color: gray;
}

#support-body .charter-wrapper {
	padding: 20px;
	background-color: $light-gray-color;
	font-size: 17px;
	line-height: 2.5rem;
	&.visitors {
		font-size: 15px;
		line-height: 1.5;
		.header {
			font-size: 18px;
			margin-bottom: 10px;
			.emphasis {
				color: $green-active-color;
				font-weight: bold;
			}
		}
		
	}
}


.process {
	color: #fff;
	background-color: $green-active-color;
	&.sland{
		background-color: $teal-active-color;
	}
	padding: 0 25px;
	margin: 5px;
	text-align: center;
	border-radius: 10px;
	height: 85px;
	position: relative;
	display: table;
	width: 100%;
	&.ex-color {
		background-color: $green-color;
	}
	&.sland{
		background-color: $teal-color;
	}
	.fa {
		position: absolute;
	    right: 10px;
	    font-size: 24px;
	    vertical-align: middle;
	    top: 40%;
	}
	.text {
		display: table-cell;
		vertical-align: middle;
		.head {
			font-size: 1.2em;
		}
	}
	.sub-text {
		vertical-align: middle;
		font-size: 12px;
	}
}
	
.process-box-wrapper {
	&.teal {
		.process {
			background-color: $teal-active-color;
			&.ex-color {
				background-color: $teal-color;
			}
		}
	}
}

span .bold {
	font-weight: bold;
}

.support-chart {
	canvas {
		width: 100%;
		height: 100%;
	}
	&.border {
		border: 1px solid $light-gray-color;
		padding: 20px 0;
		.caption {
			text-align: center;
			font-weight: bold;
			font-size: 13px;
		}
	}
}


.safety-image {	
	padding-top: 15px;
	padding-bottom: 15px;
}