.article-item{
	padding: 20px 20px 20px 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.article-item .article-title{
	font-weight: bold;
}

.survey-header-table{
	margin-top: 30px;
}

.survey-header-table tbody tr th,
.survey-header-table tbody tr td{
	border: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
}

.reply-item{
	margin-bottom: 20px;
}

p.floated-selection{
	margin-right: 50px;
	float: left;
}
