@CHARSET "UTF-8";

#users-login-wrapper{
	#login-banner{
		background-image: url("../img/users/background.png");
		background-color: #6bc2cb;
		background-repeat: no-repeat;
		background-position: top center;
		min-height: 387px;
		
		h1.doc-title{
			margin-top: 0;
			margin-bottom: 20px;
			padding-top: 45px;
			
			small {
				color: white;
			}
		}
		
		h5.doc-title{
			margin-bottom: 20px;
			font-weight: normal;
		}
		
		#login-form{
			padding: 30px 55px 120px 55px;
			margin-bottom: 50px;
			background-color: white;
			background-image: url("../img/main/footer_banner.png");
		    background-repeat: no-repeat;
		    background-position: 65% bottom;
		    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			.auth-item-box.long-box {
				@media only screen and (min-width: 993px) and (max-width: 1200px) {
					height: 376px;
				}
			}
			
			form{
				margin-bottom: 30px;
			}
		}
		
		a.benefit-link {
			border: 1px solid #fff;
			padding: 8px 30px;
			display: inline-block;
			width: 250px;
			color: white;
			&.active,
			&:focus {
				color: white;
			}	
			.fa.fa-user {
				margin-right: 5px;
			}
		}
	}
	
	#auth-form {
		background-color: white;
		margin-top: 30px;
		margin-bottom: 50px;
		padding: 30px 30px 80px 30px;
		background-image: url("../img/main/footer_banner.png");
	    background-repeat: no-repeat;
	    background-position: center bottom;
		
		h4{
			text-align: center;
			color: #26a69a;
			font-size: 30px;
			margin-top: 0px;
		}
		
		.auth-item-box{
			word-break: keep-all;
			> h4, 
			> h5 {
				text-align: left;
				
				span {
					color: $teal-active-color;
				}
			}
			
			> h5 {
				font-size: 20px;
			}
			
			ol {
				padding-left: 20px;
			}
			
			.btns {
				margin-top: 10px;
			}
		}
	}
	
	#auth-form form{
		padding: 40px 120px;
	}
	
	#auth-box{
		margin-top: 30px;
		padding-bottom: 50px;
		
		.auth-steps{
			text-align: center;
			color: #888;
			padding: 10px;
			border: 1px solid $med-gray-color;
			margin-bottom: 30px;
			
			&.active{
				background-color: $primary-color;
				border: 1px solid $primary-color;
				color: white;
				font-weight: bold;
			}
			
		}
		
		.auth-card {
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 110px;
			background-color: white;
			background-color: white;
			background-image: url("../img/main/footer_banner.png");
		    background-repeat: no-repeat;
		    background-position: 65% bottom;
		    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);	
		}
		
		.privacy-box {
			height: 300px;
			overflow-y: scroll;
			border: 1px solid $med-gray-color;
			padding: 20px 40px;
			color: $black;
		}
		
		.signup-form-wrapper {
			border: 1px solid $med-gray-color;
			padding: 20px;
			color: $black;
		}
		.fa.fa-check {
			color: $primary-color;
		}
		
		#signup-complete-box {
			
		}
		
		ol{
			padding-left: 20px;
		}
		
		.alert-msg{
			color: red;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		h4{
			color: #26a69a;
			font-size: 30px;
			margin-top: 30px;
		}
		
		h5{
			font-size: 16px;
			
			> span{
				color: $primary-color;
				font-weight: bold;
			}
		}
		
		h5.certiication-title{
			margin-top: 30px;
			font-size: 22px;
		}
		
		.btns{
			margin-top: 30px;
			margin-bottom: 30px;
			.btn{
				width: 35%;
			}
		}
	}
	
	.auth-links{
		padding-top: 30px;
		border-top: 1px solid #ddd;
		padding-bottom: 50px;
		
		.text{
			font-size: 18px;
			font-weight: bold;
			
			strong{
				color: #26a69a;
			}
		}
		
		h1.auth-title{
			color: #26a69a;
		}
	}
}


#breadcrumb li {
    float: left;
}
#breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
#breadcrumb li:first-child a:before {
    border: none;
}
#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}
#breadcrumb li a:before {
    border-color: #3498db;
    border-left-color: transparent;
}

#breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after {
    border: none;
}

#breadcrumb li a.active {
    background-color: #1abc9c;
}

#breadcrumb li a.active:after{
    border-left-color: #1abc9c;
}

#breadcrumb li a.active:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}


.check-privacy > pre {
    background-color: white;
    border: 1px solid #9e9e9e;
    height: 250px;
    overflow: scroll;
    padding: 5px;
}

.private-info-box {
	padding: 30px;
	border: 1px solid #ddd;
}