$primary-color: #3d959e;

$red-black-color: #9a1017;
$black_with_alpha: rgba(0,0,0,0.7);
$black: #212121;


/* 행사/공연/캠프, 예약신청*/
$purple-light-color: #cfc4eb;
$purple-color: #ab9bd7;
$purple-hover-color: #9983d7;
$purple-active-color: #7957c6;
$purple-dark-color: #5a36b6;
$purple-active-color-alpha: rgba(123,97,197,.75);

/* 정부3.0, 전시관람 */
$teal-light-color: #9fdde4;
$teal-color: #67c2cc;
$teal-hover-color: #51acbe;
$teal-active-color: #3d959e;
$teal-dark-color: #2a5f63;

/* 과학교육, 과학관 소개 */
$blue-light-color: #9cbde3;
$blue-color: #618dc0;
$blue-hover-color: #4471ac;
$blue-active-color: #3c649e;
$blue-dark-color: #264078;

/* 사이버 과학관, 고객지원  */
$green-light-color: #b3d479;
$green-color: #94c23a;
$green-hover-color: #85b232;
$green-active-color: #719f2a;
$green-dark-color: #3d6812;

/* 커뮤니티 */
$orange-light-color: #fbe177;
$orange-color: #f4ba05;
$orange-hover-color: #f29d05;
$orange-active-color: #f18a05;
$orange-dark-color: #f37600;

/* 폰트 색상 (black, white 제외) */
$super-light-gray-color: #f5f5f5;
$light-gray-color: #e0e0e0;
$light-gray-color-alpha: rgba(233,233,233,.75);
$med-gray-color: #9e9e9e;
$med-gray-color-alpha: rgba(160,160,160,0.8);
$dark-gray-color: #616161;
$dark-gray-color-alpha: rgba(109,110,113,0.6);
$super-dark-gray-color: #212121;

/* Color 짙은정도에 따라 묶음 */
$light-colors: $teal-light-color $purple-light-color $blue-light-color $green-light-color $orange-light-color;
$colors: $teal-color $purple-color $blue-color $green-color $orange-color;
$hover-colors: $teal-hover-color $purple-hover-color $blue-hover-color $green-hover-color $orange-hover-color;
$active-colors: $teal-active-color $purple-active-color $blue-active-color $green-active-color $orange-active-color;
$dark-colors: $teal-dark-color $purple-dark-color $blue-dark-color $green-dark-color $orange-dark-color;

/* Gray Color List 별도 */
$gray-colors: $super-light-gray-color $light-gray-color $med-gray-color $dark-gray-color $super-dark-gray-color;


/* Color 별 적용 */
@mixin color-variant($parent, $color) {
	#{$parent}:not(ul){
		color: $color;
	} 
}

$color-class-names: '.teal', '.purple', '.blue', '.green', '.orange';
$color-names: 'teal', 'purple', 'blue', 'green', 'orange';

@each $color-class-name in $color-class-names{
	$i: index($color-class-names, $color-class-name);
	@include color-variant($color-class-name, nth($active-colors, $i));
}


$gray-color-class-names: '.super-light-gray', '.light-gray', '.med-gray', '.dark-gray', '.super-dark-gray';
$gray-color-names: 'super-light-gray', 'light-gray', 'med-gray', 'dark-gray', 'super-dark-gray';

@each $gray-color-class-name in $gray-color-class-names{
	$i: index($gray-color-class-names, $gray-color-class-name);	
	@include color-variant($gray-color-class-name, nth($gray-colors, $i));
}

.black{
	color: black;
}

.white{
	color: white;
}

.vertical-middle-btn{
	min-height: 33px;
	line-height: 33px !important;
	vertical-align: middle;
}