.voluntary-accent{
	color: #7B64C2;	
}

#volunteer-tabs-wrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.voluntary-info{
	line-height: 20px;
}

.voluntary-info .voluntary-info-title{
	padding-left: 20px;
	color: #7B64C2;	
	font-weight: bold;
	margin-bottom: 5px;
}

.voluntary-info .voluntary-info-desc{
	padding-left: 30px;
	color: #666; 
	margin-bottom: 30px;
}

.voluntary-info .voluntary-info-desc .alert-info,
.voluntary-note .alert-info{
	font-size: 13px;
	color: red;
}

.voluntary-note .alert-info{
	font-size: 14px;
}

.voluntary-note{
	padding: 20px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

table.voluntary-table{
	margin-bottom: 30px;
}

table.voluntary-table thead,
table.voluntary-table tbody{
	border-bottom: 1px solid #7B64C2; 
}

table.voluntary-table thead tr > th{
	color: #7B64C2;	
}

table.voluntary-table .detail-btn{
	box-shadow: none;
	background-color: white;
	color: black;
	border: 1px solid #7B64C2;
}

table.voluntary-table .select-btn,
table.voluntary-table .reserve-btn,
.applicant-btn{
	box-shadow: none;
	background-color: #7B64C2;
	border: 1px solid #7B64C2;
}

table.voluntary-table .select-btn:hover,
table.voluntary-table .select-btn:focus,
table.voluntary-table .reserve-btn:hover,
table.voluntary-table .reserve-btn:focus,
.applicant-btn:hover,
.applicant-btn:focus{
	background-color: #8E74E2;
}

#voluntary-confirmation-form{
	width:630px;
	border : 1px solid black;
	.confirmation-logo{
		width: 100%;
    	display: inline-block;
		img{
			float: right;
		    margin-top: 30px;
    		margin-right: 20px;
		}
	}
	.title{
		font-size: 45px;
		text-align: center;
    	margin-top: 30px;
	}
	
	.description{
		width: 500px;
		margin-top:30px;
		margin-left: auto;
		margin-right: auto; 
		.table-label{
			width: 100px;
			display:inline-block;
		}
	}
}