@charset "utf-8";

body {margin:0px;padding:0px;height:100%;color:#707070;font:normal 12px/130% 'dotum';}
div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd {margin: 0px;padding:0px;font-family:"dotum";text-align:left;line-height:130%;}
div, ul, ol {list-style:none;}
big, small {font-size:normal 12px/16px 'dotum';color:#707070;}
table, th, td {margin:0;padding:0;border:0;border-spacing:0px;font-size:12px;border-collapse:collapse;}
legend, caption {width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
img {border:0px;vertical-align:middle;}
em {font-style:normal;font-weight:bold;color:#5fb4bc;}

a, a:visited, a:hover, a:link {color:#767676;text-decoration:none;}

article, aside, hgroup, header, footer, figure, figcaption, nav, section { display:block;}




/* 레이아웃 */
body {background-color:#fff !important;}
header {position:relative;overflow:hidden;width:100%;height:95px;margin:0 auto 0px auto;background:url(/img/CS2/header/bg.jpg) repeat-x #eaeaea;}
header .logo {float:left;}
header .info {margin:10px 10px 0 0px;float:right;color:#20245f;font-weight:bold;}
header .info a {color:#20245f;font-weight:bold;}

nav#gnb {clear:both;margin:0;padding:9px 0;}
nav#gnb ul {overflow:hidden;}
nav#gnb ul li {float:left;font-size:12px;font-weight:bold;border:1px solid #dedede;}
nav#gnb ul li:first-child {}
nav#gnb ul li a {display:block;padding:5px 5px 5px 5px;color:#000000;}
nav#gnb ul li a:hover {background-color:#ffffff;}
#wrapper {overflow:hidden;margin:-1px 5px 5px 5px;}

nav#lnb {width:200px;float:left;margin:0 22px 0 0;border:1px solid blue;}

section#content {margin:0 auto;padding:0px;overflow:hidden;border:1px solid #c3c3c3;min-height:380px;}

footer {margin:40px 0 0 0;padding:20px 0 20px 0;border-top:2px solid #e5e5e5;}
footer .footerWrap {width:100%;margin:0 auto;}
footer .footerWrap .info {margin:0 0 13px 25px;color:#767676;}


/* btnAreaType */
.btnAreaType1 {margin:20px 0 20px 140px;text-align:left;}
.btnAreaType2 {margin:20px 0 20px 0;text-align:right;}
.btnAreaType3 {margin:20px 0 20px 0;text-align:center;}
.btnAreaType4 {margin:20px 0 20px 0;overflow:hidden;}
.btnAreaType4 .left {float:left;}
.btnAreaType4 .right {float:right;}

/*
.btnType01 {display:inline-block;padding:0 4px 0 0;background:url(img/CS2/btn/type01_left.png) no-repeat right top;}
.btnType01 input {margin:0;padding:8px 26px 7px 28px;color:#ffffff;font-weight:bold;background:url(/img/CS2/btn/type01_left.png) no-repeat left top;border:0 none;}
.btnType01 span {display:block;margin:0;padding:8px 27px 7px 29px;color:#ffffff;font-weight:bold;background:url(../img/CS2/btn/type01_left.png) no-repeat left top;border:0;}
.btnType02 {display:inline-block;padding:0 2px 0 0;background:url(/img/CS2/btn/type02_right.png) no-repeat right top;}
.btnType02 input {margin:0;padding:8px 26px 7px 28px;color:#000000;font-weight:bold;background:url(/img/CS2/btn/type02_left.png) no-repeat left top;border:0 none;}
.btnType02 span {display:block;margin:0;padding:8px 27px 7px 29px;color:#000000;font-weight:bold;background:url(../img/CS2/btn/type02_left.png) no-repeat left top;border:0 none;}
.btnType03 {display:inline-block;padding:0 2px 0 0;background:url(/img/CS2/btn/type01_left.png) no-repeat right top;}
.btnType03 span {display:block;margin:0;padding:5px 10px 3px 12px;text-align:center;font-size:11px;color:#ffffff;border:0 none;background:url(/img/CS2/btn/type03_left.png) no-repeat left top;}
.btnType04 {display:inline-block;padding:0 2px 0 0;background:url(/img/CS2/btn/type03_right.png) no-repeat right top;}
.btnType04 input {display:block;margin:0;padding:5px 10px 3px 12px;text-align:center;font-size:11px;color:#ffffff;border:0 none;background:url(/img/CS2/btn/type03_left.png) no-repeat left top;}
*/
/* bbsUpdate */
.bbsUpdate {width:100%;overflow:hidden;}
.bbsUpdate table {width:600px;margin-left:10px;border:1px solid #d2d2d2;}
.bbsUpdate table th {padding:9px 0 6px 20px;color:#000000;font-weight:bold;text-align:left;background-color:#f0f0f0;border:1px solid #d2d2d2;border-right:0 none;}
.bbsUpdate table td {padding:9px 20px 9px 20px;color:#000000;text-align:left;border:1px solid #d2d2d2;border-right:0 none;}
.bbsUpdate input {border:1px solid #d2d2d2;}
.bbsUpdate select {border:1px solid #d2d2d2;}
.bbsUpdate textarea {border:1px solid #d2d2d2;}

/* pager */
.pager {margin:20px 0;text-align:center;}
.pager a {cursor:pointer;margin:0 5px;display:inline-block;}
.pager a.current {font-weight:bold;}

/* highlight */
.highlight01 {color:#ff0000;text-align:left;}

/* title */
.title01 {padding:10px 140px 2px;color:#707070;text-align:left;font-size:50;}
.title02 {padding:10px 60px 2px;color:#707070;text-align:left;font-size:50;}

/* subtitle */
.subtitle01 {font-weight:bold;background-color:#F0F187;font-size:20;}
