﻿@charset utf-8;



#wrap{position:relative; display:inline-block;}
#lnb{position:relative;width:120px;float:left;height:486px; background-color:#4b4b4b; }
#contents{position:relative;width:366px;float:left;height:442px; padding:40px 20px 0 20px; border-top:2px solid #dd3841; border-bottom:2px solid #4b4b4b; font-family:doutm,'돋움'; color:#5c5c5c;}
#contents_end{position:relative;width:539px;float:left;height:442px; padding:40px 20px 0 20px; border-top:2px solid #dd3841; border-bottom:2px solid #4b4b4b;border-right:2px solid #4b4b4b; font-family:doutm,'돋움'; color:#5c5c5c;}
#article{display:inline-block;float:left;height:482px;border-top:2px solid #4b4b4b; border-bottom:2px solid #4b4b4b;border-right:2px solid #4b4b4b;}


/*lnb*/
.lnb_logo{height:74px; background-color:#dd3841;}
.lnb_logo img{ padding-top:22px; padding-left:14px;}
.left_menu {font-size:12px;font-family: dotum,돋움;}
.left_menu li{ border-bottom:1px solid #696969;padding:9px 16px 9px 10px; text-align:right; }
.left_menu li a{color:#ffffff; text-decoration:none;}
.left_menu .on { background-color:#FFF;}
.left_menu .on a {font-weight:bold; color:#dd3841; font-weight:bold;  display:block;font-size:14px; }
.left_ad_bn{position:absolute; left:10px; bottom:20px;}


/*contents*/
.title_area{position:relative;width:100%;padding-bottom:10px; font-family:doutm, '돋움'; font-size:11px; color:#6c6c6c; display:inline-block; }
.title_area p{ position:absolute;display:inline-block; right:0px; top:9px; }
.title_area .on{ font-weight:bold; color:#e9787e;}
.btn_s{text-align:center; padding-top:20px;}
.btn_end{text-align:center; padding-top:10px;}
.middle_ad_bn{position:absolute; bottom:20px;}
.title_style{ position:relative; width:366px;}
.sub_tile { width:366px;color:#9f7f58; border-bottom:2px solid #cabba9; padding:15px 0 5px; font-size:12px; font-weight:bold; }
.sub_tile_txt{position:absolute; top:15px; right:0px;display:inline-block; font-size:11px; font-weight:normal; color:#8f8f8f;}
.sub_tile_txt span{color:#565656;}


/*article*/
#article .right_con{width:173px; height:482px; position:relative; font-family:doutm, '돋움'; font-size:12px; color:#5c5c5c; display:inline-block; float:left;background-color:#ececec;}
#article .tab{ height:482px;float:left; background:url(../images/mainpay/tab_back.gif); z-index:100; background:#4b4b4b; }
.info_guide{padding:48px 15px 0px;}
.info_title{font-weight:bold; padding-bottom:6px;}
.r_list {width:143px;}
.r_list dl{border-bottom:1px dotted #979797; padding:6px 0 4px;display:inline-block;width:143px;}
.r_list dt{float:left; text-align:left; width:60px; display:inline-block;}
.r_list dd{text-align:right; display:inline-block; width:83px;}

.total_price{ font-size:14px; font-weight:bold; line-height:18px; padding-top:10px; display:block;}
.total_price dt{float:left; padding-left:6px; background:url(../images/mainpay/icon_gray.gif) no-repeat left 2px top 6px; display:block;width:143px;}
.total_price dd {display:block; color:#db2d37; text-align:right;width:143px;}
.right_ad_bn{position:absolute; bottom:0;}
.right_top_bn{padding-top:12px; text-align:center; width:173px;}


/* tabbed board */
#article .right_con_noti{width:173px; height:482px; position:relative; font-family:doutm, '돋움'; font-size:12px; color:#5c5c5c; display:none; float:left;background-color:#ececec;}
#article .right_con_interest{width:173px; height:482px; position:relative; font-family:doutm, '돋움'; font-size:12px; color:#5c5c5c; display:none; float:left;background-color:#ececec;}
#article .right_con_event{width:173px; height:482px; position:relative; font-family:doutm, '돋움'; font-size:12px; color:#5c5c5c; display:none; float:left;background-color:#ececec;}



/*step1 동의*/
.agree_list{width:100%; color:#5c5c5c; font-family:doutm, '돋움'; vertical-align:middle; font-size:12px;}
.agree_list th{ font-weight:normal; text-align:left;line-height:18px;}
.agree_list td{ font-weight:normal; text-align:right; vertical-align:middle; line-height:18px;}
.agree_list td img ,.agree_list td a ,.agree_list td input ,.agree_list td span ,.agree_list td label {vertical-align:middle !important;}

.agree_list th, .agree_list td{ height:29px;border-bottom:1px solid #dddde1;}
.color_pink{color:#dc9b9f;}
.agree_list img {}
.ver_m{vertical-align:middle;}
.agree_list label{ display:inline-block;}
.agree_all{border-bottom:1px solid #dedede; font-weight:bold; padding:7px 0 5px; font-size:12px; color:#5c5c5c;}
.agree_all label{margin-top:-5px;display:inline-block; font-family:doutm, '돋움'; }


/*step2 카드선택*/
.selec_all label{ position:relative; display:inline-block; margin-top:-4px;}
.selec_all img{ position:relative; display:inline-block; margin-top:-4px; padding-left:2px;}
.red_box{border:2px solid #db2d37; padding:7px 12px;}
.gray_box{border-bottom:1px dotted #979797; padding:0px 0px 7px 0; margin-top:6px; font-family:doutm, '돋움'; overflow:auto;}
.gray_box p{ position:relative;width:360px; text-align:left; color:#96652a; font-size:12px; font-weight:bold; }
.gray_box span{ position:absolute;width:248px; text-align:right; display:inline-block; color:#6c6c6c; font-size:11px; font-weight:normal; top:6px; right:0px;}
.card_box{width:366px;padding:8px 0 8px 0; border-bottom:1px dotted #979797; position:relative;}
.card_sele{width:366px; font-family:doutm,'돋움'; font-size:12px; color:#6c6c6c;}
.card_sele td{font-weight:normal; text-align:left; height:20px;}
.payment_way{font-family:doutm,'돋움'; font-size:11px; color:#6c6c6c; padding-top:10px;}
.payment_way p{padding-top:5px;}
.payment_way span{color:#b48e8e;}
.payment_way .check_r{text-align:right; width:366px;}
.shinhan_point{width:100%; color:#5c5c5c; font-family:doutm, '돋움'; vertical-align:middle; font-size:12px; margin-top:10px;}
.shinhan_point tr{}
.shinhan_point th{ font-weight:bold; text-align:left;padding-left:8px; background:url(../images/mainpay/icon_blue.gif) no-repeat left 2px top 8px; color:#1363a6;}
.shinhan_point td{ font-weight:normal; text-align:left; padding-left:4px;}

/*인풋관련*/
.select_list {position:absolute; top:50px; right:6px;}
.input_txt{height:20px;font-size:11px;line-height:16px;color:#6c6c6c;font-family:dotum,"돋움";vertical-align:bottom;border-color:#989898 #d8d8d8 #d8d8d8 #989898;border-style:solid;border-width:1px;padding:0 0 0 5px; background:#fff;}
.input_txt:focus{border:1px solid #0c6cd2;}
.selec_txt{height:22px;font-size:11px;line-height:16px;text-align:left;padding:2px 2px 2px; background:#fff;}

/*결제내역확인*/
.payment_list{width:100%; color:#5c5c5c; font-family:doutm, '돋움'; vertical-align:middle; font-size:12px;}
.payment_list tr{}
.payment_list th{ font-weight:normal; text-align:left;padding-left:5px;}
.payment_list td{ font-weight:normal; text-align:left; padding-left:15px; background:url(../images/mainpay/table_line.gif) no-repeat left 1px top 8px;}
.payment_list th, .payment_list td{ height:29px;border-bottom:1px solid #dddde1;}
.payment_guide_txt{color:#dc9b9f; background:url(../images/mainpay/icon_pink.gif) no-repeat left 1px top 13px; padding:10px 5px; font-size:11px;}
.payment_agree_last{font-weight:bold; padding-top:0px; font-family:doutm,'돋움'; font-size:12px;}
.payment_agree_last label{ position:relative; display:inline-block;margin-top:-4px;}

/*완료*/
.end_wrap{width:450px; margin:0 auto; position:relative;}
.end_txt{position:relative; border-bottom:1px dotted #999999; width:450px; margin:0 auto; padding:22px 0 15px;  text-align:center; overflow:auto; line-height:10px;}
.end_txt h3{color:#dd3841; font-size:14px; font-weight:bold;}
.end_txt img{margin-top:-4px; display:inline-block; position:relative;}
.end_txt p{font-size:12px; padding-top:8px;}
.end_txt span{color:#4373ca; font-weight:bold; text-decoration:underline;}
.spm_info{position:relative; padding:10px 0 10px; width:450px; margin:0 auto;font-size:12px;}
.spm_info p{ background:url(../images/mainpay/spm_arrow.gif) no-repeat left 4px top 5px; padding-left:10px; line-height:17px;}
.spm_info img{margin-top:-4px; margin-left:2px; display:inline-block; position:relative;}
.spm_info .brown_color{color:#a8864a; font-weight:bold;}
.spm_footer{font-size:11px; line-height:16px; padding-top:5px; color:#7d7d7d; padding-bottom:10px;}
.join_box{ border:2px solid #c3b69a; position:relative; width:406px; margin:0 auto; padding:10px 20px;}
.spm_join_form{width:100%; color:#5c5c5c; font-family:doutm, '돋움'; vertical-align:top; font-size:12px;}
.spm_join_form th{ font-weight:bold; text-aguide_iconlign:left;padding-left:5px; vertical-align:top;}
.spm_join_form td{ font-weight:normal; text-align:left;  vertical-align:top;}
.spm_join_form th, .spm_join_form td{ height:32px;}
.spm_join_form p{font-size:11px;}
.spm_join_form label{ position:relative; display:inline-block; margin-top:-4px; margin-left:2px;}

/*탭*/
.tab_wrap{width:140px; height:482px; display:inline-block; overflow:auto;}

/*가상계좌*/
.account_footer{font-size:11px; padding-top:80px; line-height:16px; width:100%;}
.account_footer ul li { word-break:keep-all;}
.footer_title{font-size:12px; font-weight:bold;}
.account_line { border-top:2px solid #cabba9;}

/*계좌이체*/
.end_txt_box{padding:20px 0; width:100%; text-align:center; font-size:14px; font-weight:bold; background-color:#f8f8f8; margin-bottom:15px; margin-top:10px; border:1px solid #e4dace;}
.sub_tile2 { width:366px;color:#9f7f58; padding:15px 0 5px; font-size:12px; font-weight:bold; }
.box_gray{border:1px solid #dddde1; width:100%; }
.box_gray .title{ background:#f6f6f6;  height:40px; width:326px; padding:7px 20px;}
.guide_icon{color:#5c5c5c; background:url(../images/mainpay/icon_gray.gif) no-repeat 1px 8px; padding:5px 5px; font-size:12px;}
.title_style{margin:10px 0px;}
.title_style span{color:#dc9b9f;}
.notice_txt{color:#686767; background : url(../images/mainpay/img_notice.gif) no-repeat 1px  7px; padding:7px 20px 5px 35px; font-size:12px; font-weight:bold; line-height:14px;}

/*작업공지*/
.info_guide_notice{padding:48px 15px 0px;}
.info_title{font-weight:bold; padding-bottom:6px;}
.r_list {}
.r_list li{border-bottom:1px dotted #979797; padding:6px 0 4px;display:inline-block;width:133px;background:url(../images/mainpay/icon_gray.gif) no-repeat 1px 8px;padding:5px 5px; line-height:14px;}

#header { position:relative; display:block; width:100%; height:42px; background:#dd3741; overflow:hidden; z-index:100;}