.calendar-area {
	.calendar-body {
		td.date {
			width: 14.28%;
    		border-radius: 0;
    		
    		div.circle {
    			width: 36px;
			    height: 36px;
			    line-height: 36px;
			    margin: auto;
			    border-radius: 50%;
			    vertical-align: middle;
    		}
    		
    		&.active {
    			color: white;
    			background-color: transparent;
    			
    			&.purple {
    				background-color: $purple-active-color;
    			}
    		}
    		
    		&.disabled {
    			color: #e0e0e0;
    		}
    		&:hover {
    			cursor: pointer;
    		}
		}
	}
}