#image-slider {
	position: relative;
} 
 
#image-slider #image-slider-window {
	margin: 0 50px;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#image-slider #image-slider-window .slide {
	margin: 0 5px;
	padding: 0;
	float: left;
	position: relative;
	max-width: 100%;
	height: auto;
	cursor: zoom-in;
}

#image-slider {
	.image-slider-btn {
		position: absolute;
		cursor: pointer;
		color: gray;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
        top: 50%;
	    transform: translate(0%, -50%);
	    @media only screen and (max-width: 599px) {
	    	top: 45%;
	    }
		.material-icons {
			font-size: 50px;
		}
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
		&:hover {
			color: inherit;
		}
	}	
}


#image-slider .indicators {
	list-style-type: none;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

#image-slider .indicators .indicator-item {
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	border-radius: 50%;
	border: 2px solid #39848a;
	background-color: #fff;
}

#image-slider .indicators .indicator-item.active {
	background-color: #39848a;
}

#zoom-image-wrapper {
	background-color: transparent;
	border-radius: 2px;
	overflow-y: auto;
	position: fixed;
	margin: auto;
	padding: 40px;
	opacity: 1;
	will-change: top, opacity;
	z-index: 1003;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    
	@media only screen and (max-width: 991px) {
		width: 90%;
	}
	
	img {
		margin: auto;
		border: 3px solid #fff;
		border-radius: 2px;
	}
}

.zoom-arrow{
	position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, .1);
    font-size: 30px;
    font-family: roboto;
    color: #fff;
    &:focus,
    &.active {
    	color: #fff;
    }
    &:hover {
    	background-color: rgba(255, 255, 255, .4);
    	color: black;
    }
    
    &.prev {
    	left: 0;
    }
    
    &.next {
    	right: 0;
    }
}

#background-overlay {
	position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}