.ptech-calendar{
	margin-top: 30px;
}

.ptech-week:after {
    content: "";
    display: table;
    clear: both;
}

.ptech-date{
	width: 14.285%;
	float: left;
	border: 1px solid #ddd;
	padding: 10px;
	min-height: 40px;
	font-size: 12px;
}

.ptech-date.sunday{
	color: red;
}

.ptech-date.saturday{
	color: blue;
}

.program-item{
	font-size: 10px;
	background-color: #00FFFF;
	padding: 0 5px;
}

#program-calendar-wrapper .ptech-calendar .calendar-nav{
  background: #3b4d62;
  color: white;
}
#program-calendar-wrapper .calendar-nav {
  background-color: white;
}
#program-calendar-wrapper .calendar-nav .nav-title {
  font-size: 20px;
}
#program-calendar-wrapper .calendar-nav .nav-title a {
  font-family: roboto;
  color: white;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
}

.ptech-calendar{
	&.theme-1 {
		.calendar-nav{
			background: #3b4d62;
			color: white;
		}
		
		.calendar-nav .nav-title {
			font-size: 16px;
		}
		
		.calendar-nav .nav-title a {
		    font-family: roboto;
		    color: white;
		    display: inline-block;
		    padding-left: 30px;
		    padding-right: 30px;
		    color: white;
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		    vertical-align: middle;
		    text-align: center;
		}
		
		.calendar-nav .ptech-date {
		  font-size: 18px;
		  padding: 3px;
		}
		
		.ptech-week .ptech-date {
			font-size: 14px;
			padding: 0;
		}
		
		.ptech-week .ptech-date.sunday{
		  color: #f37600;
		}
		
		.ptech-week .ptech-date.saturday{
		  color: #3c649e;
		}
		
		.ptech-week .ptech-date > div {
			margin: auto;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			vertical-align: middle;
			border-radius: 50%;
		}
		.ptech-week .ptech-date.available > div {
			background-color: #67c2cc;
			color: white;
		}
		
		.ptech-week .ptech-date.available > div:hover {
			cursor: pointer;
		}
		
		.ptech-week .ptech-date.available.selected > div {
			background-color: #2a5f63;
		}
	}	
}
