html, body{
	height: 842px;
}

body{
	position: relative;
	font-family: 'NanumGothic';
}

.title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 120px;
}

.col-md-4{
	float: left;
	width: 25%;	
}

.volunteer-wrapper{
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 50px;
}

img{
	display: block;
	margin-top: 120px;
	margin: auto;
}