#image-slider {
	position: relative;
} 
 
#image-slider #image-slider-window {
	margin: 0 50px 20px 50px;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#image-slider #image-slider-window .slide {
	margin: 0 5px;
	padding: 0;
	float: left;
	position: relative;
	max-width: 100%;
	height: auto;
}
 
#image-slider .image-slider-btn-left i,
#image-slider .image-slider-btn-right i {
	font-size: 50px;
}

#image-slider .image-slider-btn-left {
	position: absolute;
	left: 0;
	top: 35%;
	cursor: pointer;
} 

#image-slider .image-slider-btn-right {
	position: absolute;
	right: 0;
	top: 35%;
	cursor: pointer;
}     

#image-slider .indicators {
	list-style-type: none;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

#image-slider .indicators .indicator-item {
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin: 0 12px;
	border-radius: 50%;
	border: 2px solid #39848a;
	background-color: #fff;
}

#image-slider .indicators .indicator-item.active {
	background-color: #39848a;
}

#zoom-image-wrapper {
	background-color: #fafafa;
	border-radius: 2px;
	overflow-y: auto;
	position: fixed;
	margin: auto;
	padding: 10px;
	opacity: 1;
	will-change: top, opacity;
	z-index: 1003;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#background-overlay {
	position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}