.ptech-calendar{
	margin-top: 30px;
}

.ptech-week:after {
    content: "";
    display: table;
    clear: both;
}

.ptech-date{
	width: 14.285%;
	float: left;
	border: 1px solid #ddd;
	padding: 10px;
	min-height: 40px;
	font-size: 12px;
}

.ptech-date.sunday{
	color: red;
}

.ptech-date.saturday{
	color: blue;
}

.program-item{
	font-size: 10px;
	background-color: #00FFFF;
	padding: 0 5px;
}